@mixin define-index($new-index) {
  $index: $new-index !global;
}

@mixin add-index($map, $key, $value) {
  $new-index: (
    $key: $value
  );
  $index: map-merge($index, $new) !global;
}

@function index($name) {
  $index-var: map-get($index, $name);
  @if not $index-var {
    @error 'undefined index name: ' + $name;
  }
  @return $index-var;
}
