<!-- build:include header.html -->
<!-- /build -->
<title>FrontBox DEBUG</title>
<!-- build:include header-end.html -->
<!-- /build -->

<div class="wrap">
<!-- wrap -->

  <h2 class="h2">Image utilities</h2>

  <div class="doc">
    <div class="doc-block doc-block--article">
      <p class="doc__text">Fill space using image</p>
      <div class="doc__prev ghost-info">
        <div class="row-same-size">
          <div class="col-12 md_col-8 md_push-2 lg_col-6 lg_push-0 ignore-height">
            <p class="align-right">
              <span class="code">.image-fill.image-fill-h</span>
            </p>
            <div class="image-fill image-fill-h bg-red" style="height:400px; width:200px;">
              <img src="images/sample.jpg" alt="Test">
            </div>
          </div>
          <div class="col-12 md_col-8 md_push-2 lg_col-6 lg_push-0 ignore-height">
          <p class="align-right">
            <span class="code">.image-fill.image-fill-v</span>
          </p>
          <div class="image-fill image-fill-v bg-red" style="height:300px; width:500px;">
            <img src="images/sample.jpg" alt="Test">
          </div>
        </div>
          <div class="col-12 md_col-8 md_push-2 lg_col-6 lg_push-0 ignore-height">
          <p class="align-right">
            <span class="code">.image-fill.image-fill-h</span>
          </p>
          <div class="image-fill image-fill-h bg-red" style="height:100px; width:200px;">
            <img src="images/sample.jpg" alt="Test">
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">Fill all space using image</p>
      <div class="doc__prev ghost-info">
        <div class="row-same-size">
          <div class="col-12 md_col-8 md_push-2 lg_col-6 lg_push-0 ignore-height">
            <p class="align-right">
              <span class="code">.image-cover</span>
            </p>
            <div class="image-cover bg-red" style="height:400px;">
              <img src="images/sample.jpg" alt="Test">
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- end wrap -->
</div>


<!-- build:include footer.html -->
<!-- /build -->
