<!-- build:include header.html -->
<!-- /build -->
<title>FrontBox DEBUG</title>
<!-- build:include header-end.html -->
<!-- /build -->

<div class="wrap">
<!-- wrap -->

  <h2 class="h2">TOOLS</h2>

  <div class="doc">
    <div class="doc-block doc-block--article">
      <div class="doc__prev ghost-info">
        <div class="btn">default button</div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <div class="badge badge--big">
        asas
      </div>
    </div>

<!-- SINGLE COLLAPSE -->
    <div class="doc-block doc-block--article">
      <p class="doc__text">SINGLE COLLAPSE <span class="code">data-element="#test_5" data-toggle="collapse"</span></p>
      <div class="doc__prev ghost-info pos-relative">
        <div class="arrow-button arrow-button--left mb-0">left</div>
        <div class="arrow-button arrow-button--right mb-0">right</div>
      </div>
    </div>
<!-- DROPDOWN -->
    <div class="doc-block doc-block--article">
      <p class="doc__text">DROPDOWN <span class="code">.btn[data-element="#dropdown1" data-toggle="hide"]+.dropdown__item</span></p>
      <div class="doc__prev ghost-info pos-relative">
        <div class="dropdown">
          <div class="btn" data-element="#dropdown1" data-toggle="hide">Dropdown</div>
          <div class="dropdown__item hide" id="dropdown1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        </div>
    </div>

<!-- CHECKBOX -->
    <div class="doc-block doc-block--article">
      <p class="doc__text">CHECKBOX <span class="code">data-element="#test_5" data-toggle="collapse"</span></p>
      <div class="doc__prev ghost-info">
          <div class="checkbox">
          	 <input type="checkbox" id="agreement">
          	 <label for="agreement" class="checkbox-label">
          		 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
          		 <svg class="checkbox__checked icon">
          			 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/images/sprites.svg#icon-download"></use>
          		 </svg>
          	 </label>
           </div>
      </div>
    </div>

<!-- CIRCLE -->
    <div class="doc-block doc-block--article">
      <p class="doc__text">CIRCLE <span class="code">.circle>.circle__wrap>.circle__content</span></p>
      <div class="doc__prev ghost-info">
          <div class="row">
            <div class="col-6 ignore-height">
              <div class="circle bg-blue">
                <div class="circle__wrap">
                  <div class="circle__content">
                    a
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 ignore-height">
              <div class="circle bg-blue">
                <div class="circle__wrap">
                  <div class="circle__content">
                    a
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 ignore-height">
              <div class="circle bg-blue">
                <div class="circle__wrap">
                  <div class="circle__content">
                    a
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 ignore-height">
              <div class="circle bg-blue">
                <div class="circle__wrap">
                  <div class="circle__content">
                    a
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

<!-- end wrap -->
</div>


<!-- build:include footer.html -->
<!-- /build -->
