<!-- build:include header.html -->
<!-- /build -->
<title>FrontBox DEBUG</title>
<!-- build:include header-end.html -->
<!-- /build -->

<div class="wrap">
<!-- wrap -->

  <h2 class="h2">Text rotate</h2>

  <div class="doc">

    <div class="doc-block doc-block--article">
      <p class="doc__text"><span class="code">data-element="#test_5" data-toggle="collapse"</span></p>
      <div class="doc__prev ghost-info pos-relative">
        <div class="js-text-rotate">
          <span>Lorem</span>
          <span>ipsum</span>
          <span>dolor</span>
          <span>sit</span>
          <span>amet</span>
        </div>
      </div>
    </div>


<!-- end wrap -->
</div>


<!-- build:include footer.html -->
<!-- /build -->
