<!-- build:include header.html -->
<!-- /build -->
<title>FrontBox DEBUG</title>
<!-- build:include header-end.html -->
<!-- /build -->

<div class="wrap">

  <h2 class="h2">GRID</h2>

  <div class="doc">
    <div class="doc-block doc-block--article">
      <p class="doc__text">COL SAME SIZE <span class="code">.row .row-same-size</span></p>
      <div class="doc__prev ghost-info">
        <div class="row row-same-size">
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">ROW RESPONSIVE SIZE <span class="code">.row-same-size .md_row .lg-row-same-size</span></p>
      <div class="doc__prev ghost-info">
        <div class="row row-same-size row-ignore-height">
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="col-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">COL GAP DEFAULT (20px) <span class="code">.row .row-gap</span></p>
      <div class="doc__prev ghost-info">
        <div class="row row-gap ignore-border">
          <div class="col-6">
            <div class="debug-column bg-red">col-6</div>
          </div>
          <div class="col-6">
            <div class="debug-column bg-blue">col-6</div>
          </div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">COL GAP 100px <span class="code">.row .row-gap-100</span></p>
      <div class="doc__prev ghost-info">
        <div class="row row-gap-100 ignore-border">
          <div class="col-6">
            <div class="debug-column bg-red">col-6</div>
          </div>
          <div class="col-6">
            <div class="debug-column bg-blue">col-6</div>
          </div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">COL GAP SPACE (1.25%) <span class="code">.row .row-space</span></p>
      <div class="doc__prev ghost-info">
        <div class="row row-space ignore-border">
          <div class="col-6">
            <div class="debug-column bg-red">col-6</div>
          </div>
          <div class="col-6">
            <div class="debug-column bg-blue">col-6</div>
          </div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">COL SIZE (88px and 1000px) <span class="code">.row > col-88 + col-1000</span></p>
      <div class="doc__prev ghost-info">
        <div class="row ignore-border">
          <div class="col-88">
            <div class="debug-column bg-red">col-88</div>
          </div>
          <div class="col-1000">
            <div class="debug-column bg-blue">col-1000</div>
          </div>
        </div>
      </div>
    </div>

    <div class="doc-block doc-block--article">
      <p class="doc__text">ROW COL SPACE (50px) <span class="code">.row.row-col-space</span></p>
      <div class="doc__prev ghost-info">
        <div>
          <div class="row ignore-border row-col-space">
            <div class="col-12 bg-blue"></div>
            <div class="col-12 bg-red"></div>
            <div class="col-12 bg-blue"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- build:include footer.html -->
<!-- /build -->
