<!-- build:include page-header.html -->
<!-- /build -->

<title>Site title</title>
<meta name="description" content="Site description">

<!-- build:include page-header-end.html -->
<!-- /build -->

<!--=========== Page Content -->


<div class="wrap" style="height: 3000px;">
<!-- wrap -->

  <h1 class="h2">JS - Spy element</h1>
  <p>Return to <a href="/debug.html" class="link">debug menu</a></p>

  <div id="spy-container" class="doc bg-red js-spy__container" style="height: 1500px;">

    <div id="js-spy__element-1" class="js-spy__element bg-blue spy-test" style="width: 100px; height: 100px;">
      Spy element
    </div>

    <div id="js-spy__element-2" class="js-spy__element bg-blue spy-test spy-test--2" style="width: 100px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
    </div>

  </div>


<!-- end wrap -->
</div>


<!-- build:include page-footer.html -->
<!-- /build -->
</body>