# Node
node_modules/

src/style/automatic/*less
logs/*html
logs/*
src/template/critical-css/*
docs

# Modules
*.mp4
*.ogg
*.webm

# Libs
src/js/libs/*

# Generated website
# public/dev/*
# public/prod/*

# Maps
*.map.*
*.map

# Logs
lobs
validation-report.json
validation-status.json

# Manifest
package-lock.json
yarn-error.log
yarn.lock

# Favicons
src/images/favicon/*