node_modules/
public/
src/js/libs
src/less/libs/*
.git
.git/*
src/images/favicon/
src/less/automatic/*less
logs/*html
package-lock.json
yarn-error.log
yarn.lock
logs/*
src/template/critical-css/*
src/template/includes/favicon.html
frontbox-update/
docs
