# Node
node_modules/

src/less/automatic/*less
logs/*html
logs/*
src/template/critical-css/*
docs

# Generated website
public/dev/*
public/public/*

# Manifest
package-lock.json
yarn-error.log
yarn.lock

# Favicons
src/images/favicon/*
src/template/includes/favicon.html