/*=========================================================================
|| FILE: Color variables
===========================================================================
|| Required colors
=========================================================================*/

/**
 * Base
 */

/* Main website text color */
@default-color: #000000;

@color-primary: #e7be54;
@color-secondary: #6c757d;
@color-success: #28a745;
@color-danger: #dc3545;
@color-warning: #ffc107;
@color-info: #17a2b8;
@color-light: #f8f9fa;
@color-dark: #343a40;

@color-black: #000000;
@color-white: #FFFFFF;
@color-gray: #90938F;

/**
 * Special
 */

/* Mobile tap color { set :false to off } */
@color-tap: false;
/* Text selection color { set :false to off } */ 
@color-selection: false;

/**
 * Elements
 */

 /* For <code> tag */
@color-code: #BFC1BE;