/*=========================================================================
|| Screen sizes for responsive design
=========================================================================*/

@responsive: {
    @default: {
        name: default;
        lock: ~"only screen and (max-width: 449px)";
    };
    @fablet: {
        name: fablet;
        shortcode: sm;
        breakpoint: 550;
        @string: {
            default: ~"only screen and (min-width: 550px)";
            max: ~"only screen and (max-width: 767px)";
            lock: ~"only screen and (min-width: 550px) and (max-width: 767px)";
        };
    };
    @tablet: {
        name: tablet;
        shortcode: md;
        breakpoint: 768;
        @string: {
            default: ~"only screen and (min-width: 768px)";
            max: ~"only screen and (max-width: 1023px)";
            lock: ~"only screen and (min-width: 768px) and (max-width: 1023px)";
        };
    };
    @desktop: {
        name: desktop;
        shortcode: lg;
        breakpoint: 1024;
        @string: {
            default: ~"only screen and (min-width: 1024px)";
            lock: ~"only screen and (min-width: 1024px)";
        };
    }
    @mobile: {
        name: mobile;
        shortcode: xs;
        breakpoint: @responsive[@fablet][breakpoint] - 1;
        @string: {
            default: ~"only screen and (max-width: 549px)";
            lock: ~"only screen and (max-width: 549px)";
        };
    };
}

@responsive-length: length(@responsive);

/*=========================================================================
|| Responsive variables
===========================================================================
|| Easy way using @media queries
|| @media @mobile === @media only screen and (max-width: 767px)
||
|| SYNTAX:
||   "variable-name: value"
||   · "variable-name":     width screen name
||   · "value":             "only screen and ()" with destination in parenthesis
=========================================================================*/

@mobile:            @responsive[@mobile][@string][default];
@fablet:            @responsive[@fablet][@string][default];
@fablet-only:       @responsive[@fablet][@string][max];
@tablet:            @responsive[@tablet][@string][default];
@tablet-only:       @responsive[@tablet][@string][max];
@desktop:           @responsive[@desktop][@string][default];

/*=========================================================================
|| Grid variables
=========================================================================*/

// Max columns in one row
@grid-count:        12;