- var page_title = "Debug Animations | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.wrap.debug-wrap

		h1.debug-header.
			Animations
	
		.row.row-space

			//- animation-boucing-dots
			.col-6
				.debug-view
					div
						div.animation-boucing-dots
							span
							span
							span
			.col-6
				p.debug-code.
					.animation-boucing-dots>span*3

			//- animation-donut-spinner
			.col-6
				.debug-view
					div
						div.animation-donut-spinner
			.col-6
				p.debug-code.
					.animation-donut-spinner

			//- animation-scale-lines
			.col-6
				.debug-view
					div
						div.animation-scale-lines
							span
							span
							span
			.col-6
				p.debug-code.
					.animation-scale-lines>span*3

			//- animation-circle-rotate
			.col-6
				.debug-view
					div
						div.animation-circle-rotate
			.col-6
				p.debug-code.
					.animation-circle-rotate

include includes/end.pug