- var page_title = "Debug Animation Burger | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/begin.pug

.page-content.relative
	.wrap.debug-wrap

		h1.debug-header.
			Animation Burger
	
		.row.row-space

			//- 3-1
			.col-6
				.debug-view
					div
						.burger-button.block
							.plank
							.plank
							.plank
			.col-6
				p.debug-code.
					.animation-burger-3-1


include includes/end.pug