- var page_title = "Debug Lists | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.debug-wrap.wrap

		h1.debug-header.
			.Bar

		.row.row-space
			.col-6
				p.
					Default template
				.debug-code
					:escape
						<div class="bar" data-bar="1">
							<div class="bar__placeholder"></div>
							<div class="bar__content"></div>
						</div>
			.col-6
				p.
					Emmet template
				p.debug-code.
					.bar(data-bar="1")>.bar__placeholder+bar__content

		//- List vertical
		h2.debug-title.
			Bar image <strong>.bar-image</strong>
		.row.row-space
			.col-6
				.debug-view
					.bar.bar-image.bar--primary#bar-image(data-bar="1")
						.bar__placeholder
						.bar__content

			.col-6
				form(action="", data-change-class="bar-image")
					input(type="range", min="1", max="10", value="1", data-change="data-bar")
					input(type="checkbox", value="bar--primary", checked) 
					| .bar--primary
					input(type="checkbox", value="bar--secondary") 
					| .bar--secondary
					input(type="checkbox", value="bar--placeholder") 
					| .bar--placeholder

include ../template/includes/scripts.pug

script.
	var
	$debugChangerClass = $("[data-change-class]");

	$debugChangerClass.each(function(){
		var
		$this = $(this),
		findContent = $this.attr("data-change-class"),
		$content = $("#"+findContent),
		$inputs = $this.find("input"),
		$range = $

		console.log($content);

		$inputs.on("change", function(){
			var 
			$this = $(this),
			value = $this.val(),
			change = $this.attr("data-change");

			if (change) {
				$content.attr(change, value)
			}

			console.log(value);

			if($this.is(":checked")) {
				$content.addClass(value);
			}
			else {
				$content.removeClass(value);
			}
			
		});
	});

include ../template/includes/end.pug