- var page_title = "Debug Blocks | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/begin.pug

.page-content.relative
	.wrap

		//- Default
		h2.debug-title.
			Blocks
		.row.row-space
			.col-6
				div
					.debug-code.
						.block-square
			.col-6
				div
					.debug-view
						div.block-square(style="background: red;")

		//- box-flipper
		h2.debug-title.
			Box flipper
		.row.row-space
			.col-6
				div
					.debug-view.center
						a.box-flipper(href="#", style="height: 120px; background-color: red;")
							.box-flipper__container
								.box-flipper__item.box-flipper__item--front
									| Front
								.box-flipper__item.box-flipper__item--back
									| Back
			.col-6
				div
					.debug-code.
						.box-flipper>.box-flipper__container>.box-flipper__item.box-flipper__item--front{ | Front}+.box-flipper__item.box-flipper__item--back{ | Back}

		//- box-timeline
		h2.debug-title.
			Box timeline
		.row.row-space
			.col-6
				div
					.debug-view.center
						.box-timeline
							.box-timeline__container
								.box-timeline__item
									.box-timeline__dot
									.box-timeline__text Item 1
								.box-timeline__item
									.box-timeline__dot
									.box-timeline__text Item 2
								.box-timeline__item
									.box-timeline__dot
									.box-timeline__text Item 3
			.col-6
				div
					.debug-code.
						.box-timeline>.box-timeline__container>.box-timeline__item*3>.box-timeline__dot+.box-timeline__text{Item $}

		//- Embed
		h2.debug-title.
			Embed
		.row.row-space

			.col-6
				div
					.debug-code.
						.embed-youtube
							iframe
			.col-6
				div
					.debug-view
						.embed-youtube
							iframe(src="https://www.youtube.com/embed/GRxofEmo3HA")

			.col-6
				div
					.debug-code.
						.embed-youtube.embed-youtube--16x9
							iframe
			.col-6
				div
					.debug-view
						.embed-youtube.embed-youtube--16x9
							iframe(src="https://www.youtube.com/embed/GRxofEmo3HA")

			.col-6
				div
					.debug-code.
						.embed-youtube.embed-youtube--4x3
							iframe
			.col-6
				div
					.debug-view
						.embed-youtube.embed-youtube--4x3
							iframe(src="https://www.youtube.com/embed/GRxofEmo3HA")

			.col-6
				div
					.debug-code.
						.embed-youtube.embed-youtube--1x1
							iframe
			.col-6
				div
					.debug-view
						.embed-youtube.embed-youtube--1x1
							iframe(src="https://www.youtube.com/embed/GRxofEmo3HA")

include includes/end.pug