- var page_title = "Debug Buttons | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.wrap.debug-wrap

		//- Default
		h2.debug-title.
			Buttons
		p.debug-code.
			.btn
		.debug-view.center
			.row.row-space
				.col-12
					div
						a.btn
							| .btn

		//- Mods
		h2.debug-title.
			Modifications	
		.debug-view.center
			.row.row-space.center
				.col-4
					div
						a.btn.btn-block
							| .btn-block
				.col-4
					div
						a.btn.btn-disable
							| .btn-disable

		//- Size
		h2.debug-title.
			Sizes
		.debug-view.center
			.row.row-space.center
				.col-4
					div
						a.btn.btn-large
							| .btn-large
				.col-4
					div
						a.btn.btn-wide
							| .btn-wide
				.col-4
					div
						a.btn.btn-big
							| .btn-big
				.col-4
					div
						a.btn.btn-medium
							| .btn-medium
				.col-4
					div
						a.btn.btn-small
							| .btn-small
				.col-4
					div
						a.btn.btn-tiny
							| .btn-tiny

		//- Color
		h2.debug-title.
			Colors
		.debug-view.center
			.row.row-space.center
				.col-4
					div
						a.btn.btn-primary
							| .btn-primary
				.col-4
					div
						a.btn.btn-secondary
							| .btn-secondary
				.col-4
					div
						a.btn.btn-success
							| .btn-success
				.col-4
					div
						a.btn.btn-danger
							| .btn-danger
				.col-4
					div
						a.btn.btn-warning
							| .btn-warning
				.col-4
					div
						a.btn.btn-info
							| .btn-info
				.col-4
					div
						a.btn.btn-light
							| .btn-light
				.col-4
					div
						a.btn.btn-dark
							| .btn-dark
				.col-4
					div
						a.btn.btn-link
							| .btn-link

		//- Special
		h2.debug-title.
			Special
		.debug-view.center
			.row.row-space.center
				.col-4

include includes/end.pug