- var page_title = "Elements - Debug"
- var page_description = "FrontBox Debug Page"
- var page_critical_css = false

include ../template/includes/header.pug

main.page-content.relative

	.page-content.relative
		.wrap

			//- Default
			h2#container.debug-title.
				Container {responsive prefix}

			.row.row-space

				.col-12
					div
						.debug-view
							.container
								.container__item.container__item--left
									| left
								.container__item.container__item--center
									| center
								.container__item.container__item--right
									| right
				.col-12
					div
						p.strong Emmet
						.debug-code
							:escape
								.container>.container__item.container__item--left+.container__item.container__item--center+.container__item.container__item--right
				.col-12
					div
						p.strong DOM
						.debug-code
							:escape
								<div class="container">
									<div class="container__item container__item--left">
										left
									</div>
									<div class="container__item container__item--center">
										center
									</div>
									<div class="container__item container__item--right">
										right
									</div>
								</div>

include includes/end.pug