- var page_title = "Debug Lists | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.debug-wrap.wrap

		h1.debug-header.
			Forms

		//- List vertical
		h2.debug-title.
			Input checkbox <strong>.input-checkbox</strong>
		.row.row-space
			.col-6
				.debug-view
					.input-checkbox.input-checkbox--mark-color
						input(type="checkbox", id="checkbox1", name="checkbox1" required)
						label.input-checkbox__label(for="checkbox1")
							span.input-checkbox__input
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			.col-6
				form(action="", data-change-class="list-vertical")
					input(type="checkbox", name="list--mark") 
					| .list--mark
					input(type="checkbox", name="list--mark-icon") 
					| .list--mark-icon
					input(type="checkbox", name="list--mark-center") 
					| .list--mark-center
		//- Responsive
		h3.debug-title.debug-title--responsive.
			List vertical responsive <strong>{xs, sm, md, lg}</strong><br>
			<i>.list.lg_list-vertical.lg_list--mark-icon.md_list-vertical.md_list--mark.sm_list-vertical.sm_list--mark.sm_list--mark-center.xs_list-vertical</i>
		.row.row-space
			.col-12

				.debug-view.center
					.debug-responsive
						iframe.debug-iframe(data-iframe="list-vertical-responsive")
						div(data-iframe-content="list-vertical-responsive")
							ul.list.lg_list-vertical.lg_list--mark-icon.md_list-vertical.md_list--mark.sm_list-vertical.sm_list--mark.sm_list--mark-center.xs_list-vertical
								li.list__item
									p.list__content
										= debug_item_1
									!= debug_item_icon
								li.list__item
									p.list__content
										= debug_item_3
									!= debug_item_icon
								li.list__item
									p.list__content
										= debug_item_1
									!= debug_item_icon
								li.list__item
									p.list__content
										!= debug_item_4
									!= debug_item_icon	

		//- List horizontal
		h2.debug-title.
			List horizontal <strong>.list-horizontal</strong>
		.row.row-space
			.col-6
				.debug-view
					.d-inline-block.hideable
						ul#list-horizontal.list.list-horizontal
							li.list__item
								.list__adddon
								.list__container
									.list__content 
										= debug_item_1
									!= debug_item_icon
							li.list__item
								.list__adddon
								.list__container
									.list__content
										= debug_item_3
									!= debug_item_icon
							li.list__item
								.list__adddon
								.list__container
									.list__content
										!= debug_item_4
									!= debug_item_icon
			.col-6
				form(action="", data-change-class="list-horizontal")
					input(type="checkbox", name="list--mark") 
					| .list--mark
					input(type="checkbox", name="list--mark-icon") 
					| .list--mark-icon
					input(type="checkbox", name="list--mark-center") 
					| .list--mark-center
		
		h3.debug-title.debug-title--addon.
			center
		.row.row-space
			.col-6
				.debug-view.center
					.d-inline-block
						ul.list.list-horizontal
							li.list__item
								!= debug_item_1
							li.list__item
								!= debug_item_3
							li.list__item
								!= debug_item_1
							li.list__item
								!= debug_item_4
			.col-6
				p.debug-code.
					.center
						.d-inline-block
							.list.list-horizontal
								.list__item{ | Item $}*4

		//- .list--mark
		h2.debug-title.debug-title--mod.
			List horizontal with list style dot <strong>.list--mark</strong>
		.row.row-space
			.col-6
				.debug-view
					.hideable
						ul.list.list-horizontal.list--mark
							li.list__item
								!= debug_item_1
							li.list__item
								!= debug_item_3
							li.list__item
								!= debug_item_1
			.col-6
				p.debug-code.
					.hideable
						.list.list-horizontal.list--mark
							.list__item{ | Item $}*4

		h3.debug-title.debug-title--addon.
			center block
		.row.row-space
			.col-6
				.debug-view.center
					.hideable.d-inline-block
						ul.list.list-horizontal.list--mark
							li.list__item
								p.list__content
									!= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									!= debug_item_3
								!= debug_item_icon
							li.list__item
								p.list__content
									!= debug_item_1
								!= debug_item_icon	
							li.list__item
								p.list__content
									!= debug_item_4
								!= debug_item_icon	
			.col-6
				p.debug-code.
					.center
						.hideable.d-inline-block
							.list.list-horizontal.list--mark
								.list__item{ | Item $}*4

		h3.debug-title.debug-title--addon.
			center marks <strong>.list--mark-center</strong>
		.row.row-space
			.col-6
				.debug-view
					.hideable.d-inline-block
						ul.list.list-horizontal.list--mark.list--mark-center
							li.list__item
								!= debug_item_1
							li.list__item
								!= debug_item_3
							li.list__item
								!= debug_item_4
			.col-6
				p.debug-code.
					.center
						.hideable.d-inline-block
							.list.list-horizontal.list--mark-center
								.list__item{ | Item $}*4

		//- .list--mark-icon
		h2.debug-title.debug-title--mod.
			List horizontal with list style icon <strong>.list--mark-icon</strong>
		.row.row-space
			.col-6
				.debug-view
					.hideable
						ul.list-horizontal.list--mark-icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_3
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon	
			.col-6
				p.debug-code.
					.hideable
						.list-horizontal.list--mark-icon
							.list__item*4>p.list__content{ | Item $}+svg.icon.list__icon
		
		h3.debug-title.debug-title--addon.
			center ASIX X
		.row.row-space
			.col-6
				.debug-view.center
					.hideable.d-inline-block
						ul.list.list-horizontal.list--mark-icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_3
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									!= debug_item_4
								!= debug_item_icon		
			.col-6
				p.debug-code.
					.center
						.hideable.d-inline-block
							.list.list-horizontal.list--mark-icon
								.list__item*4>p.list__content{ | Item $}+svg.icon.list__icon

		h3.debug-title.debug-title--addon.
			center ASIX Y
		.row.row-space
			.col-6
				.debug-view
					.hideable.d-inline-block
						ul.list.list-horizontal.list--mark-icon.list--mark-center
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_3
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									!= debug_item_4
								!= debug_item_icon	
			.col-6
				p.debug-code.
					.center
						.hideable.d-inline-block
							.list.list-horizontal.list--mark-center
								.list__item{ | Item $}*4
		
		h3.debug-title.debug-title--addon.
			item same size
		.row.row-space
			.col-6
				.debug-view.center
					.hideable
						ul.list-horizontal.list--mark-icon.list--same-size
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_3
								!= debug_item_icon
							li.list__item
								p.list__content
									= debug_item_1
								!= debug_item_icon
							li.list__item
								p.list__content
									!= debug_item_3
								!= debug_item_icon		
			.col-6
				p.debug-code.
					.center
						.hideable.d-inline-block
							.list-horizontal.list--mark-icon
								.list__item*4>p.list__content{ | Item $}+svg.icon.list__icon

		//- Responsive
		h3.debug-title.debug-title--responsive.
			List horizontal responsive <strong>{xs, sm, md, lg}</strong><br>
			<i>.list.lg_list-horizontal.lg_list--mark-icon.md_list-horizontal.md_list--mark.sm_list-horizontal.sm_list--mark.sm_list--mark-center.xs_list-horizontal</i>
		.row.row-space
			.col-12

				.debug-view.center
					.debug-responsive
						iframe.debug-iframe(data-iframe="list-horizontal-responsive")
						div(data-iframe-content="list-horizontal-responsive")
							.hideable.d-inline-block
								ul.list.lg_list-horizontal.lg_list--mark-icon.md_list-horizontal.md_list--mark.sm_list-horizontal.sm_list--mark.sm_list--mark-center.xs_list-horizontal
									li.list__item
										p.list__content
											= debug_item_1
										!= debug_item_icon
									li.list__item
										p.list__content
											= debug_item_3
										!= debug_item_icon
									li.list__item
										p.list__content
											= debug_item_1
										!= debug_item_icon
									li.list__item
										p.list__content
											!= debug_item_4
										!= debug_item_icon

include ../template/includes/scripts.pug

script.
	var
	$debugChangerClass = $("[data-change-class]");

	$debugChangerClass.each(function(){
		var
		$this = $(this),
		findContent = $this.attr("data-change-class"),
		$content = $("#"+findContent),
		$inputs = $this.find("input");

		console.log($content);

		$inputs.on("change", function(){
			var 
			$this = $(this),
			value = $this.attr("name");

			console.log(value);

			if($this.is(":checked")) {
				$content.addClass(value);
			}
			else {
				$content.removeClass(value);
			}
			
		});
	});

include includes/end.pug