- var page_title = "Debug Lists | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.debug-wrap.wrap

		h1.debug-header.
			Forms

		//- Input checkbox
		h2.debug-title.
			Input checkbox
		.row.row-space
			.col-6
				.debug-view
					.input-checkbox
						input(type="checkbox", id="checkbox1" name="checkbox1", required)
						label.input-checkbox__label(for="checkbox1")
							span.input-checkbox__input
							span.input-checkbox__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox1" name="checkbox1" required="required">
							<label class="input-checkbox__label" for="checkbox1">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

		//- Mark color
		h3.debug-title.debug-title--mod.
			Mark color <strong>.input-checkbox__input--mark-color</strong>
		.row.row-space
			.col-6
				.debug-view
					.input-checkbox
						input(type="checkbox", id="checkbox2" name="checkbox2", required)
						label.input-checkbox__label(for="checkbox2")
							span.input-checkbox__input.input-checkbox__input--mark-color
							span.input-checkbox__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox2" name="checkbox2" required="required">
							<label class="input-checkbox__label" for="checkbox2">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
									<svg class="input-checkbox__mark" viewBox="0 0 512 512"><path d="M256 0C114.615 0 0 114.615 0 256s114.615 256 256 256 256-114.615 256-256S397.385 0 256 0zm-48 416L102 278l47-49 59 75 185-151 23 23-208 240z"></path></svg>
								</span>
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

						.input-checkbox>input#checkbox[type='checkbox' name='checkbox' required]+label.input-checkbox__label[for="checkbox"]>span.input-checkbox__input.input-checkbox__input--mark-color+.input-checkbox__text>{Lorem ipsum}
		
		//- Mark icon
		h3.debug-title.debug-title--mod.
			Mark icon <strong>.input-checkbox__input--mark-icon</strong>
		.row.row-space
			.col-6
				.debug-view
					.input-checkbox
						input(type="checkbox", id="checkbox3" name="checkbox3", required)
						label.input-checkbox__label(for="checkbox3")
							span.input-checkbox__input.input-checkbox__input--mark-icon
								|
								| <svg inline class='input-checkbox__mark' src='checkmark'></svg>
								|
							span.input-checkbox__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox3" name="checkbox3" required="required">
							<label class="input-checkbox__label" for="checkbox3">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
									<svg class="input-checkbox__mark">...</svg>
								</span>
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

						.input-checkbox>input#checkbox[type='checkbox' name='checkbox' required]+label.input-checkbox__label[for="checkbox"]>(span.input-checkbox__input.input-checkbox__input--mark-icon>svg)+.input-checkbox__text>{Lorem ipsum}

		//- Input radio
		h2.debug-title.
			Input radio
		.row.row-space
			.col-6
				.debug-view
					.input-radio
						input#inputRatio1(type="radio", name="inputName1", value="1", required)
						label.input-radio__label(for="inputRatio1")
							span.input-radio__input
							span.input-radio__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.

			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox3" name="checkbox3" required="required">
							<label class="input-checkbox__label" for="checkbox3">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
									<svg class="input-checkbox__mark">...</svg>
								</span>
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

						.input-checkbox>input#checkbox[type='checkbox' name='checkbox' required]+label.input-checkbox__label[for="checkbox"]>(span.input-checkbox__input.input-checkbox__input--mark-icon>svg)+.input-checkbox__text>{Lorem ipsum}

		//- Mark color
		h2.debug-title.debug-title--mod.
			Mark color <strong>.input-radio__input--mark-color</strong>
		.row.row-space
			.col-6
				.debug-view
					.input-radio
						input#inputRatio2(type="radio", name="inputName2", value="1", required)
						label.input-radio__label(for="inputRatio2")
							span.input-radio__input.input-radio__input--mark-color
							span.input-radio__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			
			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox3" name="checkbox3" required="required">
							<label class="input-checkbox__label" for="checkbox3">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
									<svg class="input-checkbox__mark">...</svg>
								</span>
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

						.input-checkbox>input#checkbox[type='checkbox' name='checkbox' required]+label.input-checkbox__label[for="checkbox"]>(span.input-checkbox__input.input-checkbox__input--mark-icon>svg)+.input-checkbox__text>{Lorem ipsum}

		//- Mark icon
		h2.debug-title.debug-title--mod.
			Mark icon <strong>.input-radio__input--mark-icon</strong>
		.row.row-space
			.col-6
				.debug-view
					.input-radio
						input#inputRatio3(type="radio", name="inputName3", value="1", required)
						label.input-radio__label(for="inputRatio3")
							span.input-radio__input.input-radio__input--mark-icon
								|
								| <svg inline class='input-radio__mark' src='checkmark'></svg>
								|
							span.input-radio__text
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			
			.col-6
				.debug-code
					:escape
						<div class="input-checkbox">
							<input type="checkbox" id="checkbox3" name="checkbox3" required="required">
							<label class="input-checkbox__label" for="checkbox3">
								<span class="input-checkbox__input input-checkbox__input--mark-icon">
									<svg class="input-checkbox__mark">...</svg>
								</span>
								<span class="input-checkbox__text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
								<span>
							</label>
						</div>

						.input-checkbox>input#checkbox[type='checkbox' name='checkbox' required]+label.input-checkbox__label[for="checkbox"]>(span.input-checkbox__input.input-checkbox__input--mark-icon>svg)+.input-checkbox__text>{Lorem ipsum}

		//- Space
		h2.debug-title.debug-title--addon.
			Input space
		.row.row-space
			.col-6
				.space
					.input-group__item
						.input-checkbox
							input(type="checkbox", required)
							label.input-checkbox__label
								span.input-checkbox__input
								span.input-checkbox__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
					.input-group__item
						.input-checkbox
							input(type="checkbox", required)
							label.input-checkbox__label
								span.input-checkbox__input
								span.input-checkbox__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
					.input-group__item
						.input-checkbox
							input(type="checkbox", required)
							label.input-checkbox__label
								span.input-checkbox__input
								span.input-checkbox__text
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
			
			.col-6
				.debug-code
					:escape
						.space
							.input-group__item
								.input-checkbox
									input(type="checkbox", required)
									label.input-checkbox__label
										span.input-checkbox__input
										span.input-checkbox__text
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
							.input-group__item
								.input-checkbox
									input(type="checkbox", required)
									label.input-checkbox__label
										span.input-checkbox__input
										span.input-checkbox__text
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.
							.input-group__item
								.input-checkbox
									input(type="checkbox", required)
									label.input-checkbox__label
										span.input-checkbox__input
										span.input-checkbox__text
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco labo.

include ../template/includes/scripts.pug

script.
	var
	$debugChangerClass = $("[data-change-class]");

	$debugChangerClass.each(function(){
		var
		$this = $(this),
		findContent = $this.attr("data-change-class"),
		$content = $("#"+findContent),
		$inputs = $this.find("input");

		console.log($content);

		$inputs.on("change", function(){
			var 
			$this = $(this),
			value = $this.attr("name");

			console.log(value);

			if($this.is(":checked")) {
				$content.addClass(value);
			}
			else {
				$content.removeClass(value);
			}
			
		});
	});

include includes/end.pug