- var page_title = "Debug Index | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/header.pug

.page-content.relative
	.debug-wrap.wrap
		
		h1.debug-header.
			Debug Index

		:filesDebug

include includes/end.pug