/*!******************************************************************
Author      : Bartosz Piwek
Framework   : FrontBox-CSS
Url         : https://github.com/BartoszPiwek/FrontBox-CSS
Version     : 1.1.0
********************************************************************/
/* Pass variables to JavaScript */
:root {
  --desktop: $breakpoints('xl');
  --tablet: $breakpoints('lg');
  --fablet: $breakpoints('md');
  --mobile: $breakpoints('sm');
  --headerStickyDesktop: 50;
  --headerStickyTablet: 40;
  --headerStickyMobile: 30; }

/* Text */
/* Fix content space */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Default style elements */
iframe {
  border: 0; }

/* Remove list style */
ol,
ul {
  list-style: none; }

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal; }

/* Anchor */
a {
  color: inherit;
  text-decoration: none; }

/* Forms */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.row {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap; }
  .row > * {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto !important;
    min-height: 1px; }
    .row > * > * {
      flex: 1 1 auto; }

/*  */
/*=========================================================================
|| FILE: Animation
===========================================================================
|| Animate transitions from one CSS style configuration to another
=========================================================================*/
@keyframes animation_name {
  0% { }
  25% { }
  50% { }
  75% { }
  100% { } }

@keyframes animation_name {
  from { }
  to { } }

/*=========================================================================
|| Boxes
=========================================================================*/
/*=========================================================================
|| FILE: Footer
===========================================================================
|| Style for footer elements
=========================================================================*/
.footer {
  padding: 35px 0;
  overflow: hidden;
  background-color: #379683; }
  .footer__item > *:first-child {
    margin-top: 0; }
  .footer__item > *:last-child {
    margin-bottom: 0; }
  .footer__title {
    margin: 20px 0;
    color: #fff;
    font-size: 28px;
    font-weight: 200; }
  .footer__content {
    color: #000;
    font-size: 16px; }

/* Row */
.row-footer {
  width: calc(100% + 25px);
  margin-left: -25px !important; }
  .row-footer > *:not(.row-gap-ignore) {
    padding-left: 25px !important; }
  @media screen and (min-width: 768px) {
    .row-footer {
      width: calc(100% + 25px);
      margin-left: -25px !important;
      margin-bottom: -25px !important; }
      .row-footer > *:not(.row-space-ignore) {
        padding-bottom: 25px !important;
        padding-left: 25px !important; } }
  @media screen and (min-width: 992px) {
    .row-footer {
      width: calc(100% + 35px);
      margin-left: -35px !important;
      margin-bottom: -35px !important; }
      .row-footer > *:not(.row-space-ignore) {
        padding-bottom: 35px !important;
        padding-left: 35px !important; } }
  @media screen and (min-width: 1200px) {
    .row-footer {
      width: calc(100% + 45px);
      margin-left: -45px !important;
      margin-bottom: -45px !important; }
      .row-footer > *:not(.row-space-ignore) {
        padding-bottom: 45px !important;
        padding-left: 45px !important; } }

/*=========================================================================
|| Style SVG/IMG icons
=========================================================================*/
/**
 * Default style
 */
.icon {
  transition: fill 0.2s; }

/*=========================================================================
|| FILE: Index
===========================================================================
|| Style for most index elements
=========================================================================*/
/*=========================================================================
|| Links
=========================================================================*/
/*=========================================================================
|| Import plugins
=========================================================================*/
/*=========================================================================
|| Style HTML tables
=========================================================================*/
/*=========================================================================
|| FILE: Tools
===========================================================================
|| Create class using functions
=========================================================================*/
/*=========================================================================
|| WRAP - center element in asix x
|| = max width elemnt (end calculate = max-width + padding * 2)
|| = padding for responsive view
//=======================================================================*/
.wrap {
  width: calc(100% + 1024px);
  margin-left: -1024px !important;
  margin-bottom: -20px !important;
  /**
   * Elements
   */
  /* Navigation bar */ }
  .wrap > *:not(.row-space-ignore) {
    padding-bottom: 20px !important;
    padding-left: 1024px !important; }
  .wrap-navbar {
    width: calc(100% + 1024px);
    margin-left: -1024px !important;
    margin-bottom: -20px !important; }
    .wrap-navbar > *:not(.row-space-ignore) {
      padding-bottom: 20px !important;
      padding-left: 1024px !important; }

.row {
  /*=========================================================================
  // ROW GAP
  // Set space beetween columns in ASIX X
  .space-x(20px);
  // * space beetween columns
  //=========================================================================
  // ROW SPACE
  // Set space beetween columns in ASIX Y
  .space-y(20px);
  // * space beetween columns
  == WARNING: row will have 'overflow: hidden'
  //=======================================================================*/ }

.col {
  /*=========================================================================
  // COLUMN SIZE - set single column size (.row > .col-x) {variables without px}
  // .add-col(column-size, parent-width, gap-size) {
  // * columns size
  // * parent element width (most .wrap)
  // * space beetween columns {optional | default "0"}
  == SNIPPETS: add-column
  =========================================================================*/ }
  .col-static--test {
    flex-basis: 300px; }

/**
 * Space
 */
.space {
  /* Default */
  /* Sizes */ }
  .space > * {
    margin: 20px 0; }
  .space--medium > * {
    margin: 18px 0; }

/*=========================================================================
// Generate color list class { _functions.less }
// .color-list(@color-name-array, @color-variable-prefix, @prefix:color)
=========================================================================*/
/*=========================================================================
|| Create responsive utilities
=========================================================================*/
/* Only mobile size */
/* Fable size */
/* Tablet size */
/* Desktop size */
/*=========================================================================
|| WYSIWYG HTML output formatting
=========================================================================*/
.wysiwyg > *:first-child {
  margin-top: 0 !important; }

.wysiwyg > *:last-child {
  margin-bottom: 0 !important; }

.wysiwyg pre {
  font-family: monospace; }

/*# sourceMappingURL=style.dev.css.map */
