/*=========================================================================
|| FILE: Required variables
===========================================================================
|| Change FrontBox primary settings 
=========================================================================*/


//=================================================================//
// Others

@time-transition: 0.2s;     // Default transition {duration | timing function | delay}
@default-darken: 20%;       // Percent for darken colors { hover | active }
@font-size: 16px;           // Default font size

//=================================================================//
// Header
// - Header height required when navigation is sticky (for <body> padding-top space)
@setting_header_fixed: true;            // Header default sticky
@header-height: 80px, 100px, 60px;      // Set header height for view: desktop, tablet, mobile