/*=========================================================================
|| FILE: Color variables
===========================================================================
|| Required colors
=========================================================================*/

/**
  * Base colors
  * required
**/

@default-color: #000000;            // Main website text color
@color-primary: #e7be54;            // Primary color
@color-tap: false;                    // Mobile tap color { set :false to off }
@color-selection: false;              // Text selection color { set :false to off }

@color-warning: yellow;
@color-error: red;
@color-success: green;

//=================================================================//
// Addon

@color-black: #000000;
@color-white: #FFFFFF;
@color-gray: #90938F;

//=================================================================//
// Elements

@color-code: #BFC1BE;               // <code>