/*=========================================================================
// BUTTON - create button elements
// .add-button(text-color, background-color, border, hover-darken-percent)
// * text color
// * background color
// * all border property (1px solid color) {optional | default "false"}
// * change color on darken percent {optional | default @defaul-darken}
== SNIPPETS: add-button
==           add-button-advance {all possibilities}
=========================================================================*/

.btn {

    // Behavior
    transition+: background-color @time-transition;
    transition+: color @time-transition;
    transition+: border-color @time-transition;
    transition+: transform @time-transition;
    text-align: center;
    user-select: none;
    position: relative;
    cursor: pointer;

    // Size
    padding: 14px 6px;
    font-size: 14px;
    letter-spacing: 0.4px;
    height: 100%;

    // Colors
    color: @color-white;
    background-color: @color-primary;

    // Border
    border: 0;
    border-radius: 5px;

    // Icon
    .icon {

      // Behavior
      transition+: transform @time-transition;
      transition+: fill @time-transition;

    }
    
  
    /**
     * Colors
     */
    // &- {}

    /**
     * Size
     */
    // &- {}
    &-y-small {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &-x-small {
      padding-left: 2px;
      padding-right: 2px;
    }
    &-xy-small {
     padding: 4px;
    }

    /**
     * Special
     */
    // &- {}

    /**
     * Elements
     */
    .icon-arrow {

      // Behavior
      transition+: transform @time-transition;

      // Size
      width: 10px;
      height: 10px;

      // Style
      fill: @color-white;

    }

    /**
     * Animation
     */
    &:active {
      transform: translateY(1px);
    }

    .add-hover({
    });

    
}