/*=========================================================================
|| FILE: header.less
===========================================================================
|| Style for header ( logo | main navigation )
=========================================================================*/

/*
  Main header element style (container for: navigation, brand image, etc)
  Use "transition+:" to avoid transition overwrite problem
*/

.header {
    -webkit-backface-visibility: hidden;
    z-index: @zindex-menu;

    transition+: height @time-transition;
    transition+: box-shadow @time-transition;

    position: relative;
    position: absolute;
    // position: fixed;

    right: 0;
    top: 0;

    box-shadow: 0 1px 40px 0px transparent;
}

/*
 * Burger button
 */

.burger-button {

    // Behavior
    cursor: pointer;
    position: relative;
    .remove_click_delay();
    pointer-events: all;
    overflow: hidden; // Style
    width: 35px;
    height: 24px;
    // Position
    top: 50%;
    transform+_: translateY(-50%); // Don't display burget button for view

    // Border
    // transition+: border @time-transition;
    // border: 1px solid black;
    // border-radius: 5px; 

    @media @media_burger-hide {
        display: none;
    }

    &>.plank {
        display: inline-block;
        position: absolute;
        transition: all 0.2s;
        width: 80%;
        left: 10%; // centering | (100% - width) / 2
        height: 4px;
        background-color: @color-gray;
        border-radius: 10px; // Position
        &:first-child {
            top: 0;
        }
        &:nth-child(2) {
            top: 50%;
            transform+_: translateY(-50%);
        }
        &:last-child {
            bottom: 0;
        }
    } // Burger hover
    .add-hover( {
        border-color: @color-gray;
        & > .plank {
            background-color: @color-gray;
        }
    }
    );
}

& when (@setting_header = spy) {
    .js_menu-active {
        .header:not(.header--sticky) {
            .burger-button {
                position: relative;
                height: 100%;
                z-index: @zindex-first;
            }
        }       
    }
}

/**
  * Burger menu
  * Style for burger wrap items constainer
**/

.burger-menu {

    @media @media_burger-show {

        box-sizing: content-box;
        bottom: 0;
        position: absolute;
        overflow: hidden;

        text-align: center;
        padding-top: 20px;
        width: 100%;
        max-width: 300px;
        background-color: @color-primary;
        box-shadow: -6px 0 10px fade(@color-black, 40%);

        & > &__item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media @media_burger-hide {
        transition: height 0s ease 0s;
        box-sizing: border-box;
        display: flex !important;
        position: static;
        transform: none;
        overflow: unset;

        &__container {
            display: flex;
        }
    }
}



/*
|| Navigation
|| EMMET
nav.nav>a.nav__item*x
 */

.nav {
    // Behavior
    box-sizing: content-box;
    bottom: 0;
    position: absolute; // Style
    overflow: hidden; // Postion

    @media @media_burger-hide {
        transition: height 0s ease 0s;
        box-sizing: border-box;
        display: flex !important;
        position: static;
        transform: none;
        overflow: unset;
    }
    &__container {
        background-color: @color-primary;
        text-align: center;
        z-index: @zindex-menu + 1;
        position: relative;
        @media @media_burger-hide {
            background-color: transparent;
            text-align: left;
            height: 100%;
            display: flex;
        } // a.nav__item
        &>.nav__item {
            display: block;
            color: @color-white;
            transition: color @time-transition;
            margin-bottom: 10px;
            padding: 12px 0;
            .add-hover( {
                color: #b8b8b8;
            }
            );
            &:last-child {
                margin-bottom: 0;
            }
            @media @media_burger-hide {
                margin-bottom: 0;
                padding: 0;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:last-child {
                    margin-right: 0;
                }
            }
            @media @desktop {
                margin-right: 20px;
            } // a.nav__item.active
            &.active {
                color: @color-gray;
            }
        }
    }
}

/*
 Navbar | Header
*/

.navbar {
    background-color: @color-black;
    width: 100%;
    &__homepage {
        display: block;
        outline: none;
        width: 50px;
        height: 50px;
    }
    &-logo {
        width: 100%;
        height: 100%;
        transition: filter @time-transition;
        filter: invert(0%);
        @media @media_burger-hide {
            display: inline-block;
            vertical-align: middle;
        }
        .add-hover( {
            filter: invert(100%);
        }
        );
    }
    >.wrap {
        height: 100%;
    }
}

@media @media_burger-show {
    html {
        // Active
        &.js_menu-active {
            overflow: hidden;
            // When active burger
            .burger-button {
                >.plank {
                    // less/plugins/animations/burger.less
                    .add-burger-animation();
                }
            }
            .header {
                transform: none;
            }
        }
    }
}

/**
 * JavaScript manipulation
 */
html {

    // Navigation spy
    &.js_sticky-element {
      &--active {
        @media @mobile {
          .header-container {
            background-color: @color-white;
            position: fixed;
            top: 0;
            left: 0;
            height: 58px;
            box-shadow: 0 1px 40px 0px @color-black;
            z-index: @zindex-header-sticky;
            width: 100%;
          }
        }
        // @media @tablet {
          #header {
            // background-color: @color-white;
            position: fixed;
            top: 0;
            left: 0;
            height: 45px;
            box-shadow: 0 1px 40px 0px @color-black;
        //   }
        }
      }
    }
  }