/*=========================================================================
|| FILE: index.less
===========================================================================
|| Style for most index elements
=========================================================================*/

h2 {
    font-weight: 600;
    margin: 40px 0;
    font-size: 22px;
}
h3 {
    margin: 20px 0;
    font-size: 20px;
}