/*=========================================================================
|| FILE: lists.less
===========================================================================
|| Style for lists
=========================================================================*/

/**
  * Navigation list
**/

.list-navigation {

  @media @media_burger-hide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  & > &__item {

    display: block;
    color: @color-white;
    transition+: color @time-transition;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 6px;

    &:last-child {
      margin-bottom: 0 !important;
    }
    
    .add-hover({
      color: @color-primary;
    });

    @media @media_burger-hide {

      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      display: flex;

      padding: 0;
      margin-bottom: 0 !important;
      margin-right: 16px;

      &:last-child {
        margin-right: 0 !important;
      }
    }

  }
}

/**
 * List horizontal
 */

.list-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // Space
  .space-x(25px);
  .space-y(10px);

  &__item {
    display: inline-block;
  }

  /**
   * Special
   */

  &--mark {
    overflow: hidden;

    .list {

      &__item {
        position: relative;
        overflow: hidden;

        &:before {
          content: '';
          border-radius: 50%;
          width: 6px;
          height: 6px;
          position: absolute;
          top: calc(50% - $height);
          left: 25px / 2 - $width / 2;
          background-color: @color-primary;
          transform+_: translate(-50%, -50%);
        }
      }
    }
  }

  &--mark-icon {

    .list {

      &__item {
        position: relative;
      }

      &__icon {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: calc(50% - $height);
        left: (25px / 2) - $width / 2;
        background-color: @color-primary;
        // transform+_: translate(0, -50%);
      }
    }
  }

}