/*=========================================================================
|| FILE: Base
===========================================================================
|| Create base class
=========================================================================*/

/* Space beetween elements */
.space {
    & > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Fix content space */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Default style elements */
iframe {
    border: none;
}
ul, ol {
    list-style: none;
}