/*=========================================================================
|| FILE: Base
===========================================================================
|| Create base class
=========================================================================*/

/* Space beetween elements */
.space {
    & > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/**
 * Wrap
 * centering content
 */

.wrap {
	margin-left: auto;
	margin-right: auto;
    width: 100%;
}

.add-wrap(@width, @padding:0) {
	max-width: @width + @padding * 2;
	& when not (@padding = 0) {
        padding-left: @padding;
        padding-right: @padding;
  }
}