@media @media_burger-show {
    .is_burger-menu--visible {
        display: block;
    }
    .is_burger-menu--hide {
        display: none;
    }
}

@media @media_burger-hide {
    .is_burger-menu--visible {
        display: none;
    }
    .is_burger-menu--hide {
        display: block;
    }    
}