/*=========================================================================
|| FILE: Fix
===========================================================================
|| Classes used for avoid common CSS problems
=========================================================================*/

/**
 * Position fixed
 * Change to position fixed on iOS Safari while scrolling
 * @browser Safari
 */
.fix_fixed {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-perspective: 1000;
    perspective: 1000;
    transform: translate3d(0,0,0);
    position: fixed;
}