/*=========================================================================
|| FILE: _flow.less
===========================================================================
|| Base flow class for containers
=========================================================================*/

/**
 * Wrap
 * Centering content
 */

.wrap {
	margin-left: auto;
	margin-right: auto;
  width: 100%;
}

.add-wrap(@width, @padding:0) {
	max-width: @width + @padding * 2;
	& when not (@padding = 0) {
    padding-left: @padding;
	  padding-right: @padding;
  }
}

/**
 * Reset
 */

.no-wrap {
	max-width: 100% !important;
}

@media @fablet-only {
	.sm_no-wrap {
		.no-wrap;
	}
}

@media @tablet-only {
	.md_no-wrap {
		.no-wrap;
	}
}

@media @desktop {
	.lg_no-wrap {
		.no-wrap;
	}
}

@media @mobile {
	.xs_no-wrap {
		.no-wrap;
	}
}