/*=========================================================================
|| FILE: Grid
===========================================================================
|| Generate flexbox grid
=========================================================================*/

/* Columns */
.responsive({

    .gridLoop(@i: 1) when (@i =< @grid-count) {

        .@{prefix}col-@{i} {
            flex-basis: 100%/(@grid-count / @i);
            max-width: 100%/(@grid-count / @i);
        }

        & when not (@i = @grid-count) {
            .@{prefix}pull-@{i} {
                right: 100%/(@grid-count / @i) !important;
            }
            .@{prefix}push-@{i} {
                left: 100%/(@grid-count / @i) !important;
            }
            .@{prefix}order-@{i} {
                order: @i;
            }
        }

        .gridLoop(@i + 1);
    }
    .gridLoop();

});

/* Rows */
.responsive({
    .@{prefix} {

        &row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            position: relative;
        
            & > * {
                flex-grow: 0;
                flex-shrink: 0;
                height: auto !important;
                min-height: 1px;
                position: relative;
                flex-direction: column;
                display: flex;
        
                & > * {
                    flex: 1 1 auto;
                }
            }
        }

    }
});