//=========================================================================
// FILE: _lists.less
//=========================================================================
//


.add-marker(@offsetX, @offsetY:0, @position:"left"){
  padding-left: ~"@{offsetX}px";
  & .marker {
    top: ~"@{offsetY}px";
    & when (@position = "left") {
      left: 0;
    }
    & when (@position = "right") {
      right: 0;
    }
    & when (@offsetY > 0) {
      transform: translate(0, 50%);
    }
  }
}

//=========================================================================
// DEFAULT LIST STYLE
//=========================================================================

.list-marker {
  position: relative;
  & .marker {
    position: absolute;
  }
}
