/*=========================================================================
|| FILE: Variables
===========================================================================
|| Static FrontBox-CSS variables
=========================================================================*/

/**
 * Z-index
 */
@zindex-first               : 9999;
@zindex-site                : 8000;
@zindex-header-sticky       : 5000;
@zindex-menu                : 7000;
@zindex-content             : 6000;

/**
 * Transition
 */
@default-transition         : 0.2s;
