@mixin frontbox-debug {
  .frontbox-debug-box {
    color: color('white');
    background-color: transparantize(color('black'), 90%);

    position: fixed;
    bottom: 0;
    left: 0;
    font-family: monospace;
    font-size: 12px;
    line-height: 12px;
    padding: 5px;
    transition: opacity $time-transition;
    z-index: 999999;

    height: 250px;

    @include media('md') {
      height: 400px;
    }

    @include media-max('sm') {
      width: calc(100% - 50px);
    }

    p {
      color: color('white');
      padding-right: 48px;
      position: relative;
    }

    span {
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__container {
      overflow-y: auto;
      height: 100%;
      width: 100%;

      @include media('md') {
        width: 300px;
      }

      & > * {
        &:first-child {
          margin-top: 0;
        }
      }
    }

    &__button {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 100%;
      background-color: #e7be54;
      transform: translateX(100%);
      cursor: pointer;
      text-align: center;
      font-size: 12px;
      color: color('white');
      writing-mode: vertical-lr;
    }

    &--variables {
      .debug-box {
        &__container {
          p {
            cursor: pointer;
            &:hover {
              background-color: transparantize(color('primary'), 35%);
            }
            &.js_focus {
              background-color: transparantize(color('primary'), 35%);
            }
          }
        }
      }
    }

    &--console {
      left: auto;
      right: 0;

      .debug-box {
        &__container {
          width: 100%;
          @include media('md') {
            width: 400px;
          }
        }
        &__button {
          transform: translateX(-100%) rotate(180deg);
          right: auto;
          left: 0;
        }
      }

      p {
        border-left: 2px solid #e7be54;
        margin-bottom: 4px;
        padding-left: 2px;
        padding-right: 0;

        &.error {
          border-left: 4px solid #cc0000;
        }
        &.click {
          border-left-color: #00bfff;
        }
        &.warning {
          border-left-color: #ffdf25;
        }
        &.auto {
          border-left-color: #17a80d;
        }
      }

      &.debug-box {
        &--hide {
          transform: translateX(100%) !important;
        }
      }
    }

    &--variables {
      &.debug-box {
        &--hide {
          transform: translateX(-100%) !important;
        }
      }
    }

    /**
     * Container elements
     */
    h2 {
      font-size: 16px;
      letter-spacing: -1px;
      margin: 10px 0 5px;
      text-transform: uppercase;
    }
  }

  /* CSS */
  .debug {
    &-title {
      font-size: 20px;
      margin: 35px 0 20px;
      position: relative;
      padding-left: 50px;

      &:before {
        content: 'B';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        color: white;
      }

      &--mod {
        font-size: 18px;
        font-weight: 500;
        &:before {
          content: 'M';
          background-color: green;
        }
      }

      &--addon {
        font-size: 16px;
        font-weight: 500;
        &:before {
          content: 'Adddon';
          font-size: 9px;
          background-color: black;
        }
      }

      &--responsive {
        font-size: 18px;
        font-weight: 500;
        &:before {
          content: 'R';
          background-color: red;
        }
      }
    }
    &-header {
      font-size: 30px;
      font-weight: 600;
      margin: 35px 0;
    }
    &-code {
      white-space: pre;
      font-size: 15px;
      overflow-x: auto;
      padding: 30px 15px 15px;
      border-radius: 6px;
      border: 2px solid #dedede;
      position: relative;
      color: color('black');
      &:before {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 12px;
        color: #dedede;
        font-weight: bold;
        content: 'code';
      }
    }
    &-view {
      padding: 30px 15px 15px;
      border-radius: 6px;
      border: 1px dashed #dedede;
      background-color: #fafafa;
      position: relative;

      &:before {
        content: 'preview';
        position: absolute;
        top: 5px;
        left: 5px;
        color: color('black');
        font-size: 12px;
        font-weight: bold;
        text-shadow: 0 0 5px color('white');
      }
    }
  }

  .debug-wrap {
    max-width: 1400px !important;
  }
}
