// Pass variables to JavaScript
:root {
  --desktop: #{breakpoint('xl')};
  --tablet: #{breakpoint('lg')};
  --fablet: #{breakpoint('md')};
  --mobile: #{breakpoint('sm')};

  --headerStickyDesktop: 50;
  --headerStickyTablet: 40;
  --headerStickyMobile: 30;

  --scrollbarWidth: 0;
}
