/*
Fixed

Change to position fixed on iOS Safari while scrolling

Style guide: Fix.fixed
*/

@mixin fix-fixed {
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  transform: translateZ(0);
  perspective: 1000;
}

%fix-fixed {
  @include fix-fixed;
}
