/*
Group middle

Vertical center elements in content 

Emmet:
.group-middle>span{Text}+img{}

Style guide: Flow.group-middle
*/
.group-middle {
	> * {
		display: inline-block !important;
		vertical-align: middle !important;
	}
}
