/*
Hover

Include function inside selector to style `:hover`, `:active` and `:focus` states.<br>
> Set <b>true</b> for parameter <b>$parentHover</b> to create trigger hover class `&--hover` for any parent element. 

Function:
add-hover($parentHover);

Arguments:
$parentHover : boolean : false

Usage:
.selector {
 @include add-hover(true) {
  // content 	
 };
}

OutputCSS:
.selector:hover,
.selector:active,
.selector:focus,
.selector--hover:hover .selector,
.selector--hover:active .selector,
.selector--hover:focus .selector {
  // content 	
}

Style guide: Modules.Hover
*/

@mixin add-hover($parentHover: false) {
	&:hover,
	&:active,
	&:focus {
		@content;
	}

	@if ($parentHover == true) {
		&--hover:hover &,
		&--hover:active &,
		&--hover:focus & {
			@content;
		}
	}
}
