/*
Input Placeholder

Mixin:
@inlcude add-input-placeholder { @content };

Mixin example:
.placeholder {
	color: $color-secondary;
	@inlcude add-input-placeholder {
		color: $color-primary;
	}
}

Mixin output:
<input class="placeholder" placeholder="Simple input element">

Compatybility:
Chrome/Opera/Safari
Firefox 19+
Firefox 18-
IE 10+

Style guide: Functions.input-placeholder
*/

/* stylelint-disable */
@mixin add-input-placeholder {
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder {
		@content;
	}
}
