/*
Space

Add padding space in asix x/y

Mixin:
space-x($size);
space-y($size);
space($size, $size-y);

Mixin arguments:
$size 		: numberPixel
$size-y 	: numberPixel? : $size

Mixin example:
space-x(10px);
space-y(30px);
space(5px, 10px);

Mixin output:
<div class="row space-x">
	<div class="col-6"></div>
	<div class="col-6"></div>
</div>
<div class="row space-y">
	<div class="col-12"></div>
	<div class="col-12"></div>
</div>
<div class="row space">
	<div class="col-12"></div>
	<div class="col-12"></div>
	<div class="col-6"></div>
	<div class="col-6"></div>
</div>

Changelog:
2019.07-22 - remove '!important', function 'add-space' include functions 'add-space-x' and 'add-space-y'
2019.06-21 - init

Style guide: Functions.space
*/

// Horizontal space
@mixin add-space-x($size) {
	width: calc(100% + #{$size});
	margin-left: -#{$size};

	> *:not(.space-ignore) {
		padding-left: $size;
	}
}

// Vertical space
@mixin add-space-y($size) {
	margin-bottom: -#{$size};

	> *:not(.space-ignore) {
		padding-bottom: $size;
	}
}

// Vertical/horizontal space
@mixin add-space($size: 0, $size-y: $size) {
	@include add-space-x($size);
	@include add-space-y($size-y);
}
