/*
Space

Include space function inside container class element (in this example for element `.row`) to create space 
around / aside / between children element's (`[class=^col]`). Do not put addon style inside this relations.

Function:
space-x($size);
space-y($size);
space($size, $size-y);

Arguments:
$size: numberPixel
$size-y: numberPixel? : $size

Usage:
.space-x {
 @include space-x(10px);
}
.space-y {
 @include space-y(30px);
}
.space {
 @include space(5px, 10px);
}

Output:
.row.space-x
 .col-6
 .col-6
.row.space-y
 .col-12
 .col-12
.row.space
 .col-12
 .col-12
 .col-6
 .col-6

Style guide: Modules.space
*/

// Horizontal space
@mixin add-space-x($size) {
	width: calc(100% + #{$size});
	margin-left: -#{$size};

	> *:not(.space-ignore) {
		padding-left: $size;
	}
}

// Vertical space
@mixin add-space-y($size) {
	margin-bottom: -#{$size};

	> *:not(.space-ignore) {
		padding-bottom: $size;
	}
}

// Vertical/horizontal space
@mixin add-space($size: 0, $size-y: $size) {
	@include add-space-x($size);
	@include add-space-y($size-y);
}
