/*
Wrap

Center the content in specify width.<br>
Add space aside content (padding left/right)

Markup:
<div class="wrap">
 <div>content</div>
</div>

Emmet:
.wrap

Mixin:
wrap($max-width, $padding-x);

Style guide: Flow.wrap
*/

// Function
@mixin add-wrap($max-width, $padding-x: 0) {
	max-width: $max-width + $padding-x * 2;

	@if $padding-x {
		padding-right: $padding-x;
		padding-left: $padding-x;
	}
}

// Style
@mixin wrap-style {
	.wrap {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}
