- var page_title = "Debug Grid | FrontBox"
- var page_description = false
- var page_critical_css = false

include includes/header.pug

.page-content.relative
	.wrap

		//- Columns
		h2.debug-title.
			Columns
		| Grid columns <strong>{number}</strong> - 1,2,3,4,5,6,7,8,9,10,11,12
		p.debug-code.
			.row
				.col-<strong>{number}</strong>
		.debug-view.center
			.row
				.col-12
					div(style="background-color: red;")
						| .col-12

				.col-11
					div(style="background-color: red;")
						| .col-11
				.col-1
					div(style="background-color: blue;")
						| .col-1

				.col-10
					div(style="background-color: red;")
						| .col-10
				.col-2
					div(style="background-color: blue;")
						| .col-2

				.col-9
					div(style="background-color: red;")
						| .col-9
				.col-3
					div(style="background-color: blue;")
						| .col-3

				.col-8
					div(style="background-color: red;")
						| .col-8
				.col-4
					div(style="background-color: blue;")
						| .col-4

				.col-7
					div(style="background-color: red;")
						| .col-7
				.col-5
					div(style="background-color: blue;")
						| .col-5

				.col-6
					div(style="background-color: red;")
						| .col-6
				.col-6
					div(style="background-color: blue;")
						| .col-6
		
		//- Columns
		h2.debug-title.
			Columns responsive
		| Grid columns <strong>{number}</strong> - 1,2,3,4,5,6,7,8,9,10,11,12
		<br>
		| Grid shortcut <strong>{responsive}</strong> - xs, sm, md, lg
		p.debug-code.
			.row
				.<strong>{responsive}</strong>_col-<strong>{number}</strong>
		.debug-view.center
			.row.row-space
				.col-9.sm_col-1
					div(style="background-color: blue;")
						| .col-9<br>sm_col-1
				.col-1.sm_col-9.md_col-1
					div(style="background-color: red;")
						| .col-1<br>sm_col-9<br>md_col-1
				.col-1.sm_col-1.md_col-9.lg_col-1
					div(style="background-color: blue;")
						| .col-1<br>sm_col-1<br>md_col-9<br>lg_col-1
				.col-1.sm_col-1.md_col-1.lg_col-9
					div(style="background-color: red;")
						| .col-1<br>sm_col-1<br>md_col-1<br>lg_col-9

		//- Columns responsive/static
		h2.debug-title.
			Columns responsive/static
		p.debug-code.
			.row.row-responsive
				.col-static
				.col-responsive
		.debug-view.center
			.row.row-responsive
				.col-static(style="background-color: red; flex-basis: 300px")
					| .col-static (flex-basis: 300px)
				.col-responsive(style="background-color: blue")
					| .col-responsive
			br
			.row.row-responsive#js_testPlaceholder
				.col-static(style="background-color: red; flex-basis: 120px")
					| .col-static (flex-basis: 120px)
				.col-responsive(style="background-color: blue")
					| .col-responsive
			br
			.row.row-responsive#js_testPlaceholder
				.col-static(style="background-color: red; flex-basis: 50px")
					| .col-static (flex-basis: 50px)
				.col-responsive(style="background-color: blue")
					| .col-responsive
				.col-static(style="background-color: red; flex-basis: 50px")
					| .col-static (flex-basis: 50px)
			br
			.row.row-responsive#js_testPlaceholder
				.col-responsive(style="background-color: blue")
					| .col-responsive
				.col-static(style="background-color: red; flex-basis: 200px")
					| .col-static (flex-basis: 200px)
				.col-responsive(style="background-color: blue")
					| .col-responsive

		//- Row reverse
		h2.debug-title.
			Row reverse
			
		p.debug-code#js_testPlaceholder2.
			.row.row-reverse
				.col-12.md_col-6
				.col-12.md_col-6
		.debug-view.center
			.row.row-reverse
				.col-12.md_col-6(style="background-color: red;")
					| .col-12.md_col-6 column first
				.col-12.md_col-6(style="background-color: blue;")
					| .col-12.md_col-6 column second

		//- Row space
		h2.debug-title.
			Row space
		| Set 1.25% space between columns in asix x/y
		p.debug-code#js_testPlaceholder2.
			.row.row-space
				.col-6 div
				.col-6 div
				.col-6 div
				.col-6 div
		.debug-view.center
			.row.row-space
				.col-6
					div(style="background-color: red;")
						| .col-6
				.col-6
					div(style="background-color: blue;")
						| .col-6
				.col-6
					div(style="background-color: blue;")
						| .col-6
				.col-6
					div(style="background-color: red;")
						| .col-6



		h2.debug-title
			| Columns controll
		| <strong>Features</strong>: responsive {sm_, md_, lg_}
			
		p.debug-code.
			.row
				.col-y-top .col-y-center .col-y-bottom .col-x-left .col-x-center .col-x-right
		.debug-view.center
			.row
				.col-2.col-y-top(style="background-color: red; height: 200px !important")
					| .col-y-top
				.col-2
				.col-2.col-y-center(style="background-color: red; height: 200px !important")
					| .col-y-center
				.col-2
				.col-2.col-y-bottom(style="background-color: red; height: 200px !important")
					| .col-y-bottom
				.col-2
				.col-2
				.col-2.col-x-left(style="background-color: red;")
					| .col-x-left
				.col-2
				.col-2.col-x-center(style="background-color: red;")
					| .col-x-center
				.col-2
				.col-2.col-x-right(style="background-color: red;")
					| .col-x-right

include includes/footer.pug
include includes/end.pug