- var page_title = "Debug hover"
- var page_description = "FrontBox Description"
- var page_critical_css = false

include includes/header.pug

main.page-content.relative

	.wrap
		h2 .btn

		.row
			.col-4
				.btn(href="#")
					| lorem ipsum
					
include includes/end.pug