- var page_title = "Debug list vertical scroll"
- var page_description = "FrontBox Description"
- var page_critical_css = false

include includes/header.pug

main.page-content.relative

	.wrap
		h2 list-vertical-scroll

		.row
			.col-4(style="background:red;")
				.list-vertical-scroll
					nav.list-vertical-scroll__nav
						ul.list-vertical-scroll__nav-content
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test
							li.list-vertical-scroll__item Test

include includes/end.pug