- var page_title = "Debug tabs"
- var page_description = "FrontBox Description"
- var page_critical_css = false

include includes/header.pug

main.page-content.relative

    .wrap
        h2 JS scrollTo

        button(data-scroll="target1") data-scroll="target1"
        br
        button(data-scroll="target2") data-scroll="target2"
        br
        button(data-scroll="target3") data-scroll="target3"
        br
        button(data-scroll="targetError") data-scroll="targetError"
        br
        a(href="/debug-scrollTo.html#scroll-target1" target="_blank") href="/debug-scrollTo.html#scroll-target1"
        br
        p#target3 target3

        div(style="height:1000px; background-color: red")

        p#target1 target1

        div(style="height:3000px; background-color: blue")

        p#target2 target2

        div(style="height:500px; background-color: green")
        button(data-scroll="target3") scrollTo target3


include includes/footer.pug
include includes/end.pug