//- Include bootstrap template
	blocks:
		- variables
		- content
		- assets_header
		- assets_footer
extends includes/bootstrap.pug

block variables
	- var title = 'FrontBox-CSS Starter'
	- var description = 'Starter Page'
	- var keywords = false
	- var ogType = 'website'
	- var ogImage = false

//- Main content
block append content

	include includes/header.pug

	main#page.page
		.wrap
			| <a href="#" id="scrollTo">Scroll to tabs</a>
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			| Change me!
		.wrap
			h2.h2 Tabs
			
			.tabs(data-tabs-content="primary")
				.tabs__item.active
					| Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui dolor natus soluta nam rerum! Voluptatum saepe voluptatem ipsa praesentium animi, modi neque, assumenda fugiat magni quasi perspiciatis beatae consequatur at.
				.tabs__item
					| Lorem
			.tabs-navigation(data-tabs-navigation="primary")
				button.tabs-navigation__item.active
				button.tabs-navigation__item
			
	include includes/footer.pug

//- Append addon assets {js/css}
block append assets_header
block append assets_footer
