//- Include bootstrap template
	blocks:
		- variables
		- content
		- assets_header
		- assets_footer
extends includes/bootstrap.pug

block variables
	- var title = 'FrontBox-CSS Starter'
	- var description = 'Starter Page'
	- var keywords = false
	- var page_critical_css = false

//- Main content
block append content

	include includes/navigation.pug

	main.page-content.relative

		.wrap
			| Change me!

	include includes/footer.pug

//- Append addon assets {js/css}
	assets_header - on top
	assets_footer - on bottom
block append assets_header
block append assets_footer
