//- Include bootstrap template
	blocks:
		- variables
		- content
		- assets_head
		- assets_footer
extends includes/bootstrap.pug

block variables
	- var title = 'FrontBox-CSS Starter'
	- var description = 'Starter Page'
	- var keywords = false
	- var page_critical_css = false

//- Main content
block append content

	include includes/navigation.pug

	main.page-content.relative

		.hero.hero-main.height-full

		//- Loop
		.wrap
			.row.row-space
				each item in [{color: 'red', background: 'blue'}, {color: 'blue', background: 'red'}]
					.col-4
						div(style="color: " + item.color + "; background-color: " + item.background )
							| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente itaque, exercitationem dolores minima unde nihil quod? Eveniet consectetur labore, ad ducimus natus maiores, veniam minima doloribus vel odio dolores fuga.

		.wrap
			| Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ad? Ullam asperiores et labore dolores deleniti, ipsam eligendi quibusdam accusantium debitis consectetur soluta harum ab repellendus minus! Nam, in cum.s

			.input-counter(data-bind="input-counter")
				button.input-counter__btn.input-counter__btn--disable.input-counter__btn--minus(data-value="-1" type="button" title="Zmniejsz")
					| &#150;
				input.input-counter__input(type="number" value="1" min="1" max="10")
				button.input-counter__btn.input-counter__btn--plus(data-value="1" type="button" title="Zwiększ")
					| &#43;

	include includes/footer.pug

//- Append addon assets {js/css}
	assets_head - on top
	assets_footer - on bottom
block append assets_footer
block append assets_head
