- var page_title = "FrontBox Starter!"
- var page_description = "FrontBox Description"
- var page_keywords = "hello, word, page"
- var page_critical_css = false

include includes/begin.pug
include includes/navigation.pug

main.page-content.relative

    .wrap

include includes/footer.pug
include includes/scripts.pug
include includes/end.pug