//- Include bootstrap template
	blocks:
		- variables
		- content
		- assets_header
		- assets_footer
extends includes/bootstrap.pug

block variables
	- var title = 'FrontBox-CSS Starter'
	- var description = 'Starter Page'
	- var keywords = false
	- var ogType = 'website'
	- var ogImage = false

//- Main content
block append content

	include includes/header.pug

	main#page.page
		.wrap
			#testConsole
				| TestConsole

			ul.list.list--vertical.list--dot
				li.list__item
					| List item
				li.list__item
					| List item
				li.list__item
					| List item

			.hideable
				ul.list.list--horizontal.list--dot
					li.list__item
						| List item
					li.list__item
						| List item
					li.list__item
						| List item

	include includes/footer.pug

//- Append addon assets {js/css}
block append assets_header
block append assets_footer
