//- Include bootstrap template
	blocks:
		- variables
		- content
		- assets_header
		- assets_footer
extends includes/bootstrap.pug

block variables
	- var title = 'FrontBox-CSS Starter'
	- var description = 'Starter Page'
	- var keywords = false
	- var ogType = 'website'
	- var ogImage = false

//- Main content
block append content

	include includes/header.pug

	main#page.page
		.wrap
			| Change me!

			.tabs(data-tabs-content="primary")
				.tabs__item.tabs__item--0.active
					| Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ut explicabo tenetur cupiditate quibusdam molestiae atque perferendis impedit, aut, veniam, fugit sint excepturi vero id. Beatae error saepe obcaecati! Aliquam?
				.tabs__item.tabs__item--1
					| Content 2
				.tabs__item.tabs__item--2
					| Content 3

			.tabs-navigation(data-tabs-buttons="primary")
				button.tabs-navigation__item.active
				button.tabs-navigation__item
				button.tabs-navigation__item


	include includes/footer.pug

//- Append addon assets {js/css}
block append assets_header
block append assets_footer
