- var page_title = "FrontBox Starter!"
- var page_description = "FrontBox Description"
- var page_keywords = "hello, word, page"
- var page_critical_css = false

include includes/begin.pug
include includes/navigation.pug

main.page-content.relative

	//- include  ../images/svg/checkmark.svg

	.wrap
	
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?

		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		
		img.lazyload(data-sizes="auto", data-src="/images/other/image-placeholder.jpg", data-srcset="/images/other/image-placeholder.jpg 1x, /images/other/image-placeholder@2x.jpg 2x")

include includes/footer.pug
include includes/scripts.pug
include includes/end.pug