- var page_title = "FrontBox Starter!"
- var page_description = "FrontBox Description"
- var page_critical_css = "index"
- var page_keywords = "frontbox, css, framework"

include includes/begin.pug
include includes/navigation.pug

main.page-content.relative
	.wrap
		| Lorem ipsum dolor sit amet consectetur

include includes/footer.pug
include includes/end.pug