/*!******************************************************************
Author:     Bartosz Piwek
Framework:  FrontBox-CSS (https://github.com/BartoszPiwek/FrontBox-CSS)
Version:    Unpublished
********************************************************************/

/*=========================================================================
|| FILE: Main style concat
=========================================================================*/
@charset "UTF-8";


//=================================================================//
// Initialization

/**
  * Linked for version:
  - dev
  - prod
**/

& when (@version = dev) {
  @import "@{pathToModulesDev}/grid.css";
  @import "@{pathToModulesDev}/base.css";
  // Debug
  @import "plugins/debug/javascript";
}

& when (@version = prod) {
  @import (less, optional) "@{pathToModulesProd}/grid.css";
  @import (less, optional) "@{pathToModulesProd}/base.css";
}

// Variables & Settings
@import "variables/_style";  

// Frontbox               
@import "frontbox/_style";                 

//=================================================================//
// Website style

@import "style/_style";

// Utilities
& when (@version = dev) {
  @import "@{pathToModulesDev}/utilities.css";
}

& when (@version = prod) {
  @import (less, optional) "@{pathToModulesProd}/utilities.css";
}