/*=========================================================================
|| FILE: Base
===========================================================================
|| Base style for page elements
=========================================================================*/

body,
html {
  background-color: color('secondary');
  color: color('default');
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

// Scrollbar
.scrollbar,
body {
  @include scrollbar(5px, color('primary'), color('secondary'));
}

svg,
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  overflow: visible;
  transition: color 0.2s;
  fill: currentColor;
  color: currentColor;
  vertical-align: middle;
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

* {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.background {
  pointer-events: none;
  user-select: none;
}

.link {
  transition: color $time-transition;
  // .add-tap();
  cursor: pointer;
  // .remove_click_delay();

  &--primary {
    color: color('white');

    .icon {
      fill: color('white');
    }

    @include add_hover {
      color: color('secondary');
      .icon {
        fill: color('secondary');
      }
    }
  }
}

// Global Overlay
.page {
  &__loading,
  &__overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color $time-transition;
    background-color: transparent;

    > * {
      display: none;
    }
  }

  .js_resize &__loading {
    z-index: index('loading');
    background: fade(color('black'), 40%);
    pointer-events: none;
    user-select: none;

    > * {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
