/*=========================================================================
|| FILE: Footer
===========================================================================
|| Style for footer elements
=========================================================================*/

/* Space for @desktop absolute footer */
body {
    @media @desktop {
        padding-bottom: 50px;
    }
}

.footer {
    /* Absolute footer on bottom for @desktop */
    @media @desktop {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}