/*=========================================================================
|| FILE: validator.less
===========================================================================
|| Style for jQuery Validation Plugin
=========================================================================*/

/**
  * Validator class
  - error
**/

.input-error {
    border-color: @color-danger  !important;
    color: @color-danger  !important;
    /**
      * Absolute validator information
      - default style
    **/
    &--absolute+*:not([class]) {
        padding-top: 20px;
        @media @tablet {
            padding-left: 10px;
            position: absolute;
            z-index: 20;
            top: 50%;
        }
        label {
            padding: 6px;
            text-align: center;
            display: block;
            border: 1px solid @color-danger;
            border-radius: 4px;
            position: relative;
            font-size: 13px;
            background-color: @color-white;
            /**
              * Base arrow style
            **/
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform+_: translate(-50%, -100%);
                // .add-triangle( 10, 10, top, @color-danger);
            }
        }
    }
    /**
      * Absolute validator information
      - right style
    **/
    &--right+*:not([class]) {
        @media @tablet {
            transform+_: translate(100%, -50%);
            right: 0;
        }
        label {
            &:before {
                @media @tablet {
                    top: 50%;
                    left: 0;
                    transform+_: translate(-100%, -50%);
                    // .add-triangle( 10, 10, left, @color-danger);
                }
            }
        }
    }
    /**
      * Absolute validator information
      - left style
    **/
    &--left+*:not([class]) {
        @media @tablet {
            left: 0;
            transform+_: translate(-100%, -50%);
            padding-left: 0;
            padding-right: 10px;
        }
        label {
            &:before {
                @media @tablet {
                    top: 50%;
                    right: 0;
                    left: auto;
                    transform+_: translate(100%, -50%);
                    // .add-triangle( 10, 10, right, @color-danger);
                }
            }
        }
    }
    /**
      * Default validator information
    **/
    label.input-error {
        text-align: center;
        display: block;
        padding: 6px;
    }
}

/**
  * Validator class
  - success
**/
.input-success {
    border-color: @color-success  !important;
    color: @color-success  !important;
    &+*:not([class]) {
        display: none;
    }
}