$color: (
  'black': #000,
  'white': #fff,
  'dark': #343a40,
  'gray': #90938f,
  'primary': #05386b,
  'secondary': #379683,
  'success': #28a745,
  'danger': #dc3545,
  'warning': #ffc107,
  'info': #17a2b8,
  'light': #f8f9fa
);

$color-tap: false;
$color-text-selection: false;
