/* Pass variables to JavaScript */
:root {
  --desktop: $breakpoints('xl');
  --tablet: $breakpoints('lg');
  --fablet: $breakpoints('md');
  --mobile: $breakpoints('sm');

  --headerStickyDesktop: 50;
  --headerStickyTablet: 40;
  --headerStickyMobile: 30;
}
