/*=========================================================================
|| FILE: _fonts.less
===========================================================================
|| Font family variables and functions
|| ! All fonts must be placed in src/fonts/
===========================================================================
|| Best practices for using font-weights
===========================================================================
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
===========================================================================
|| Help fallback
===========================================================================
font-family: Arial,Helmet,Freesans,sans-serif;
font-family: 'Arial Narrow','Nimbus Sans L',sans-serif;
font-family: 'Bookman Old Style',Bookman,'URW Bookman L',serif;
font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;
font-family: 'Comic Sans MS',cursive;
font-family: 'Courier New',Courier,Freemono,'Nimbus Mono L',monospace;
font-family: Constantina,Georgia,'Nimbus Roman No9 L',serif;
font-family: Consolas,'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
font-family: symbol,'Standard Symbols L';
font-family: Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;
font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
=========================================================================*/

@font-family: "Arial";
@font-family-monospace: monospace;
