/**
 * Overflow
 */

.responsive({

    .@{prefix}hideable {
        overflow: hidden;
        &-x {
            overflow-x: hidden;
        }
        &-y {
            overflow-y: hidden;
        }
    }
    
    .@{prefix}visible {
        overflow: visible;
        &-x {
            overflow-x: visible;
        }
        &-y {
            overflow-y: visible;
        }    
    }

});