.responsive({
    .@{prefix}row {

        &-space {
            margin: 0 0 -1.25% -1.25%;
            & > * {
                padding: 0 0 1.25% 1.25%;
            }
        }
        &-responsive {
            flex-wrap: nowrap;
            overflow: hidden;
        }
        // Vertical & horizontal center
        &-center {
            &>* {
                align-items: center;
                justify-content: center;
            }
        } 
        // Vertical center
        &-v-center, &-y-center {
            &>* {
                align-items: center;
            }
        } 
        // Horizontal center
        &-h-center, &-x-center {
            &>* {
                justify-content: center;
            }
        }

    }
});