/**
 * Width / Height
 */

.responsive({

    /* Reset */
	.@{prefix}no {
        
        &-width {
            width: auto !important;
        }
        &-max-width {
            max-width: none !important;
        }
        &-min-width {
            min-width: none !important;
        }
        
        &-height {
            height: auto !important;
        }
        &-max-height {
            max-height: none !important;
        }
        &-min-height {
            min-height: none !important;
        }

    }
    
    .@{prefix}&full-height {
        /* Use vh as a fallback for browsers that do not support Custom Properties */
        height: 100vh; 
        height: calc(var(--vh, 1vh) * 100);
    }

});