@import "./../../public/dev/css/utilities.dev";
@import "./../../src/style/variables/*";
@import "./../../src/style/tools/*";
@import "./../../src/style/modules/*";
@import "./../../plugins/*";
@import "./kss-assets/kss.scss";
/* stylelint-disable-next-line */
@import "./../../public/dev/style.dev";
@import "../../../FrontBox-Plugins/**/*";

$color-primary: red;
$color-secondary: blue;

// Blocks
.block-square {
	background-color: $color-primary;

	* > {
		color: $color-secondary;
	}
}

// Functions
@include add_holder-style;

.holder {
	@include add_holder(100px, 50px);
	background-color: $color-primary;
	color: $color-secondary;
}

.placeholder {
	color: $color-secondary;

	@include add_placeholder {
		color: $color-primary;
	}
}

.scrollbar {
	@include scrollbar("20px", $color-primary, $color-secondary);
	width: 100%;
	height: 200px;
	overflow: scroll;

	&__content {
		width: 200%;
		height: 200%;
	}
}

.triangle {
	&-up {
		@include triangle(30px, 20px, "up", $color-primary);
	}

	&-right {
		@include triangle(30px, 20px, "right", $color-primary);
	}

	&-down {
		@include triangle(30px, 20px, "down", $color-primary);
	}

	&-left {
		@include triangle(20px, 10px, "left", $color-secondary);
	}
}

// Space
.row {
	&.space-x {
		@include space-x(10px);
	}

	&.space-y {
		@include space-y(30px);
	}

	&.space {
		@include space(5px, 10px);
	}
}
