/*
Imports

Burger planks animation

Markup:
.burger-button>.plank>.plank>.plank
.js_burger-active>.burger-button>.plank>.plank>.plank

Style guide: Header.imports
*/

@import './plugins/burger-planks-animation';

/*
Tools

Contains: row

Style guide: Header.tools
*/

.row {
  &-header-space {
    @include space(25px, 20px);
  }
}

.header {
  &__overlay {
    .js_burger-active & {
      z-index: 1;
      background-color: transparentize(color('black'), 0.4);
    }
  }
}

/**
 * Main header element style 
 * container for: navigation, brand image, etc)
 */
.header {
  // height: inherit;
  // display: flex;
  // -webkit-backface-visibility: hidden;
  padding: 20px 0;
  transition: height $time-transition, box-shadow $time-transition, background-color $time-transition,
    padding $time-transition;
  background-color: color('primary');

  // Placeholder for fixed header
  &-placeholder {
    box-sizing: content-box;
    z-index: index('menu');
    transition: background-color $time-transition;
    padding: 25px 0;
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: color('primary');
  }

  /* Header sticky */
  .js_sticky-header & {
    position: fixed;
    top: 0;
    left: 0;
    z-index: index('header-sticky');
    box-shadow: 0 10px 30px -6px fade(color('black'), 60%);
    background-color: color('white');
  }

  &-overlay {
    @include media-special('burger-show') {
      background-color: transparentize(color('black'), 0.5);
      transition: opacity $time-transition z-index, $time-transition $time-transition;
      opacity: 0;
      z-index: -1;

      .js_burger-active & {
        z-index: index('menu') - 1;
        opacity: 1;
        transition: opacity $time-transition, z-index $time-transition;
      }
    }
  }
}

.burger-button {
  @include add-click-placeholder;
  position: relative;
  z-index: index('header-sticky') + 1;
  width: 30px;
  height: 24px;
  cursor: pointer;
  pointer-events: all;

  @include media-special('burger-hide') {
    display: none;
  }

  @include add-hover {
    .plank {
      background-color: color('secondary');
    }
  }

  .plank {
    @include burger-planks-animation;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: color('grey');

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: calc(50% - 5px);
    }

    &:last-child {
      margin-top: calc(100% - 10px);
    }
  }
}

/**
 * Burger menu
 */
.burger-menu {
  @extend %fix_fixed;

  @include media-special('burger-show') {
    display: flex;
    z-index: index('menu');
    box-sizing: content-box;
    transition: transform $time-transition;
    text-align: center;
    right: 0;
    top: 0;
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    max-width: 300px;
    background-color: color('primary');
    overflow: hidden;
    transform: translateX(100%);

    & > &__item {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__container {
      width: 100%;
    }

    .js_burger-active & {
      transform: translateX(0);
      box-shadow: -6px 0 10px transparentize(color('black'), 0.6);
    }
  }

  @include media-special('burger-hide') {
    transition: height 0s ease 0s;
    box-sizing: border-box;
    display: flex !important;
    position: static;
    transform: none;
    overflow: unset;

    &__container {
      display: flex;
    }
  }
}

/*
|| Navigation
|| EMMET
nav.nav>a.nav__item*x
 */

.nav {
  // Behavior
  box-sizing: content-box;
  bottom: 0;
  position: absolute; // Style
  overflow: hidden; // Postion

  @include media-special('burger-hide') {
    transition: height 0s ease 0s;
    box-sizing: border-box;
    display: flex !important;
    position: static;
    transform: none;
    overflow: unset;
  }
  &__container {
    background-color: color('primary');
    text-align: center;
    z-index: index('menu') + 1;
    position: relative;
    @include media-special('burger-hide') {
      background-color: transparent;
      text-align: left;
      height: 100%;
      display: flex;
    } // a.nav__item
    & > .nav__item {
      display: block;
      color: color('white');
      transition: color $time-transition;
      margin-bottom: 10px;
      padding: 12px 0;
      @include add-hover {
        color: #b8b8b8;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @include media-special('burger-hide') {
        margin-bottom: 0;
        padding: 0;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:last-child {
          margin-right: 0;
        }
      }
      @include media('lg') {
        margin-right: 20px;
      } // a.nav__item.active
      &.active {
        color: color('grey');
      }
    }
  }
}
