/*
Links

Style guide: Component.Links
*/

.link {
	transition: color $time-transition;
	cursor: pointer;

	&--primary {
		color: color("primary");

		.icon {
			fill: color("primary");
		}

		@include add-hover {
			color: darken(color("primary"), 10%);

			.icon {
				fill: darken(color("primary"), 10%);
			}
		}
	}

	&--secondary {
		color: color("secondary");

		.icon {
			fill: color("secondary");
		}

		@include add-hover {
			color: darken(color("secondary"), 10%);

			.icon {
				fill: darken(color("secondary"), 10%);
			}
		}
	}

	&__group {
		@include space-x(10px);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
	}

	@include add-disable {
		color: color("disable") !important;
		cursor: not-allowed;

		.icon {
			fill: color("disable") !important;
		}
	}
}
