/*!******************************************************************
Author      : Bartosz Piwek
Framework   : FrontBox-CSS
Url         : https://github.com/BartoszPiwek/FrontBox-CSS
Version     : 1.1.0
********************************************************************/

@charset "UTF-8"; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@charset */

/* Grid */
& when not (@dev = true) {
    @import (less) "grid";
}

/* Prepare */
@plugin "frontbox/javascript";
@import "settings/responsive";
@import "frontbox/functions";
@import "frontbox/variables";

/**
 * Files
 */
@import "settings/_style";  
@import "frontbox/_style";                 
@import "style/*.less";

/* Website base style */
& when not (@dev = true) {
    @import (less) "base";
}

// /* Utilities */
& when not (@dev = true) {
    @import (less) "utilities";
}