/*=========================================================================
|| FILE: Flex grid core
=========================================================================*/

/**
  * Grid base style
**/

.responsive({

    .@{prefix}row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
    
        & > * {
            flex-grow: 0;
            flex-shrink: 0;
            height: auto !important;
            min-height: 1px;
            position: relative;
            flex-direction: column;
            display: flex;
    
            & > * {
                flex: 1 1 auto;
            }
        }
    }

});

/**
  * Addon row grid style for columns inside
  * center, v-center, h-center
**/

.row {
    &-space {
        margin: 0 0 -1.25% -1.25%;
        & > * {
            padding: 0 0 1.25% 1.25%;
        }
    }
    &-responsive {
        flex-wrap: nowrap;
        overflow: hidden;
    }
    // Vertical & horizontal center
    &-center {
        &>* {
            align-items: center;
            justify-content: center;
        }
    } 
    // Vertical center
    &-v-center, &-y-center {
        &>* {
            align-items: center;
        }
    } 
    // Horizontal center
    &-h-center, &-x-center {
        &>* {
            justify-content: center;
        }
    }
}

/**
 * Row responsive style
 */

.responsive({
    .@{prefix}row-reverse {
        flex-direction: row-reverse;
    }
});

/**
  * Addon col grid style
  * center, v-center, h-center
**/

.col {

    flex: 1 1 1px !important;

    &-static {
        flex-grow: 0;
        flex-shrink: 0;
    }
    &-responsive {
        flex: 1 1 auto !important;
    }

    // Vertical & horizontal center
    &-center {
        align-items: center;
        justify-content: center;
    } 
    // Vertical center
    &-v {
        &-center {
            align-items: center;
        }
    } 
    // Horizontal center
    &-h {
        &-center {
            justify-content: center;
        }
    }

    &-absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
}

/**
 * Grid generator
 */

.responsive({

    .gridLoop(@i: 1) when (@i =< @grid-count) {

        .@{prefix}col-@{i} {
            flex-basis: 100%/(@grid-count / @i);
            max-width: 100%/(@grid-count / @i);
        }

        & when not (@i = @grid-count) {
            .@{prefix}pull-@{i} {
                right: 100%/(@grid-count / @i) !important;
            }
            .@{prefix}push-@{i} {
                left: 100%/(@grid-count / @i) !important;
            }
            .@{prefix}order-@{i} {
                order: @i;
            }
        }

        .gridLoop(@i + 1);
    }
    .gridLoop();

});