//=========================================================================
// FILE: flex.less
//=========================================================================
// GRID CORE


//=========================================================================
// FUNCTION: ADD GRID GAP SIZE
//=========================================================================

.add-row-gap(@size) {
	margin-left: ~"-@{size}";
	width: calc(100% + @size);

	> div:not(.row-gap-ignore) {
		padding-left: @size;
	};
}


//=========================================================================
// FUNCTION: ADD ROW SPACE
//=========================================================================

.add-row-space(@space) {
	margin-bottom: ~'-@{space} !important';

	> div:not(.row-space-ignore) {
		padding-bottom: ~'@{space}';
	};
}