.responsive( @code ) {

	/* Responsive */
	each(@responsive, {

		@name: @value[name];

		
		& when (@name = default) {
			@prefix: ~"";
			@code();
		}

		& when not (@name = default) {
			@name: @value[name];
			@shortcode: @value[shortcode];
			@breakpoint: @value[breakpoint];
			@prefix: ~"@{shortcode}_";
			@stringDefault: @value[@string][default];

			@media @stringDefault {

				@name: @value[name];
				@shortcode: @value[shortcode];
				@breakpoint: @value[breakpoint];
				@prefix: ~"@{shortcode}_";
				@stringDefault: @value[@string][default];

				@code();
			}
		}

	});

}