/*=========================================================================
|| FILE: _utilities.less
===========================================================================
|| Helpful basics class
=========================================================================*/

/*=========================================================================
// Element
=========================================================================*/
.block { display: block !important; }
.inline {	display: inline !important; }
.table { display: table !important; }
.flex {	display: flex !important; }
.table-cell {	display: table-cell !important; }
.table-row { display: table-row !important; }

.relative { position: relative !important; }
.absolute { position: absolute !important; }
.static { position: static !important; }
.fixed { position: fixed !important; }

/*=========================================================================
// Flow
=========================================================================*/
@media @mobile {
	.sm_no-wrap {
		max-width: 100% !important;
	}
}
@media @tablet-only {
	.md_no-wrap {
		max-width: 100% !important;
	}
}
.lg_no-wrap {
	max-width: 100% !important;
}

/*=========================================================================
// Margin & padding
=========================================================================*/
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-x { 
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.no-margin-y { 
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding { padding: 0 !important; }
.no-padding-x { 
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-padding-y { 
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.no-before:before {
	content: none !important;
}
.no-after:after {
	content: none !important;
}

.no-font {
	font-size: 0;
}

.margin-center {
	margin-left: auto;
	margin-right: auto;
}
.margin-right {
  margin-left: auto;
  margin-right: 0;
}
.margin-left {
  margin-left: 0;
  margin-right: auto;
}

/*=========================================================================
// Text
=========================================================================*/
.make-utilities(align-, text-align, left, right );
.center { text-align: center !important };
.justify { text-align: justify !important };
.capitalize { text-transform: capitalize !important; };
.uppercase { text-transform: uppercase !important; };
.lowercase { text-transform: lowercase !important; };
.no-text-transform { text-transform: none !important; };

.make-utilities(font-, font-weight, semibold, light, normal, extrabold);
.bold {	font-weight: bold !important; }
.italic {	font-style: italic !important; }

.underline {text-decoration: underline !important;}
.text-no-wrap {	white-space: nowrap !important; }

.no-font { font-size: 0 !important; }

/*=========================================================================
// Change
=========================================================================*/
.rotate {
  &-180 { transform: rotate(180deg) !important; }
  &-90 { transform: rotate(90deg) !important; }
  &-270 { transform: rotate(270deg) !important; }
}

.round {
	border-radius: 50%;
}

/*=========================================================================
// Scrolled
=========================================================================*/
.scroll {
	&-x {
		overflow-x: scroll;
	}
	&-y {
		overflow-y: scroll;
	}
}

/**
  * Size
**/
.full-height {
	height: 100vh;
}