//- Include bootstrap template
    blocks: 
        - variables
        - content
        - assets_head
        - assets_footer
extends ../template/includes/bootstrap.pug

block variables
    - var title = 'Debug Animation Burger | FrontBox'

block append content

    .page-content.relative
        .wrap.debug-wrap

            h1.debug-header.
                Animation Burger
        
            .row.row-space

                //- 3-1
                .col-6
                    .debug-view
                        div
                            .burger-button.block
                                .plank
                                .plank
                                .plank
                .col-6
                    p.debug-code.
                        .animation-burger-3-1