- var page_title = "Debug Hover | FrontBox"
- var page_description = false
- var page_critical_css = false

include ../template/includes/begin.pug

main.page-content.relative

	.wrap
		h2 text-line-truncated

		.row
			.col-4
				a.hover_text-line-truncated(href="#")

					span.hover_text-line-truncated__item.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam error aliquid, optio perspiciatis consequuntur blanditiis vitae vero, inventore dignissimos nihil adipisci odit, dolore reiciendis facilis illum quaerat neque accusamus distinctio.

include includes/end.pug