- var page_title = "Debug tabs"
- var page_description = false

include ../template/includes/begin.pug

p.
	Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?

include ../template/includes/navigation.pug

main.page-content.relative

	.wrap
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
	.wrap
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?
		p.
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi voluptatem minima porro? Sit modi culpa iure debitis blanditiis quod fugiat assumenda nemo, iste accusantium sequi et. Amet praesentium neque omnis!
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati et consequatur aliquid aut minima laudantium! Facere quos dolorum vel cupiditate, quo expedita natus voluptate in, voluptas id quia alias enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore nobis accusamus molestiae earum placeat odit voluptatem, maxime minus porro accusantium. Facere perspiciatis dicta nesciunt. Nulla cupiditate dolorem cum voluptates?

include includes/end.pug