/*=========================================================================
|| FILE: Concat Base
===========================================================================
|| Concatenate files
/*=======================================================================*/
/* Prepare */
/*=========================================================================
|| FILE: Variables
===========================================================================
|| Static FrontBox-CSS variables
=========================================================================*/
/**
 * Z-index
 */
/**
 * Transition
 */
/*=========================================================================
|| FILE: Variables concat
===========================================================================
|| Concatenate less variables files
=========================================================================*/
/*=========================================================================
|| Screen sizes for responsive design
=========================================================================*/
/*=========================================================================
|| Responsive variables
===========================================================================
|| Easy way using @media queries
|| @media @mobile === @media only screen and (max-width: 767px)
||
|| SYNTAX:
||   "variable-name: value"
||   · "variable-name":     width screen name
||   · "value":             "only screen and ()" with destination in parenthesis
=========================================================================*/
/* Grid max columns in one row */
/*=========================================================================
|| FILE: Color variables
===========================================================================
|| Required colors
=========================================================================*/
/**
 * Base
 */
/* Main website text color */
/**
 * Special
 */
/* Mobile tap color { set :false to off } */
/* Text selection color { set :false to off } */
/**
 * Elements
 */
/* For <code> tag */
/*=========================================================================
|| FILE: _fonts.less
===========================================================================
|| Font family variables and functions
|| ! All fonts must be placed in src/fonts/
===========================================================================
|| Best practices for using font-weights
===========================================================================
100    Extra Light or Ultra Light
200    Light or Thin
300    Book or Demi
400    Normal or Regular
500    Medium
600    Semibold, Demibold
700    Bold
800    Black, Extra Bold or Heavy
900    Extra Black, Fat, Poster or Ultra Black
===========================================================================
|| Help fallback
===========================================================================
font-family: Arial,Helmet,Freesans,sans-serif;
font-family: 'Arial Narrow','Nimbus Sans L',sans-serif;
font-family: 'Bookman Old Style',Bookman,'URW Bookman L',serif;
font-family: 'Century Gothic',Futura,'URW Gothic L',sans-serif;
font-family: 'Comic Sans MS',cursive;
font-family: 'Courier New',Courier,Freemono,'Nimbus Mono L',monospace;
font-family: Constantina,Georgia,'Nimbus Roman No9 L',serif;
font-family: Consolas,'Lucida Console','Bitstream VeraSans Mono','DejaVu Sans Mono',monospace;
font-family: 'Lucida Sans Unicode','Lucida Grande','Lucida Sans','DejaVu Sans Condensed',sans-serif;
font-family: Cambria,'Palatino Linotype','Book Antiqua','URW Palladio L',serif;
font-family: symbol,'Standard Symbols L';
font-family: Cambria,'Times New Roman','Nimbus Roman No9 L','Freeserif',Times,serif;
font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
=========================================================================*/
/*=========================================================================
|| FILE: Required variables
===========================================================================
|| Change FrontBox primary settings 
=========================================================================*/
/**
  * Burger toggle { REQUIRED }
  * animation { less/plugins/animations/burger/ }
**/
/**
  * Burger menu
  * Collection:
  under-header, from-side
**/
/*=======================================================================*/
/*=======================================================================*/
/*===================================================================
1) Body
===================================================================*/
/* Lock page in 100% device width */
/* Lock page in 100% device height */
/**
  * Add style for lock page scroll
**/
/*===================================================================
2) Header
===================================================================*/
/* Header addon style for script ./src/js/frontbox/header_drop-shadow.js */
/* Set overlay when burger menu is active */
/**
  * Header options:
  * spy - Spy page position to make header sticky when page is scrolled to element
**/
/*===================================================================
3) Burger
===================================================================*/
/**
  * Wrap navbar to burger for breakpoint
  * set breakpoint ex: only screen and (max-width: 748px)
**/
/*=========================================================================
|| FILE: Functions
===========================================================================
|| Collection of useful functions
=========================================================================*/
/**
 * Set style for selectors :hover :active :focus ( .add-hover(@css_code); )
 * - add class &--hover for parent element to trigger hover for child element
 * EXAMPLE:
    .foo {
        .add-hover({
            color: red;
        });
    }
 * OUTPUT:
    .foo--hover:hover .foo,
    .foo--hover:hover .foo,
    .foo--hover:hover .foo,
    .foo:hover,
    .foo:active,
    .foo:focus {
        background-color: red;
    }
 */
/**
 *? Create color class using variables
 * 
 ** Function:
 *  .color-list(@color-name-array, @color-variable-prefix, @prefix:color)
 * 
 ** Arguments:
 *  @color-name-array: array with @colors sufix name { ex: foo, fee }
 *  @color-variable-prefix: sufix name for variables { color }
 *  @property: prefix class and property for color { fill }
 * 
 ** Example:
 * 
 *  @color-foo: red;
 *  @color-fee: blue;
 *  @color-string: foo, fee;
 *  .color-list(@color-string, color, fill);
 * 
 ** Output:
 *
 *  fill-foo {
 *    fill: red;
 *  }
 *  fill-fee {
 *    fill: blue;
 *  }
 * 
 */
/*=========================================================================
|| Fix
=========================================================================*/
/**
 * Force an element to self-clear its children
 */
/*=========================================================================
|| Space
=========================================================================*/
/**
 *? Set space beetween elements in ASIX X/Y
 *
 ** For class: 
 *  .row
 */
/*=========================================================================
|| Loops
=========================================================================*/
/*=========================================================================
|| Debug
=========================================================================*/
/**
 * Print @string in terminal output
 */
/*=========================================================================
|| Forms
=========================================================================*/
/**
 * Style the placeholder text of a form element
 */
/**
 * Sets the color of the highlight that appears over a link while it's being tapped
 */
/*=========================================================================
|| Tools generator
=========================================================================*/
/*=========================================================================
|| Browser
=========================================================================*/
/**
 * Create custom themes for the browser's native scrollbars
 */
/*=========================================================================
|| Responsive
=========================================================================*/
/*=========================================================================
|| Flow
=========================================================================*/
/**
 * Wrap
 * Centering content in ASIX X
 */
/* Default style */
.wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Function */
/**
 * Files
 */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/* Reset browser behavior */
/*=========================================================================
|| FILE: Blocks
===========================================================================
|| Often used blocks style
=========================================================================*/
/* Square block */
.block-square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.block-square > * {
  position: absolute;
  top: 0;
  left: 0;
}
/* Absolute center element in ASIX X/Y */
.block-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
  display: block;
}
/**
 * Vertical center
.group-middle>span{Text}+img{} 
 */
.group-middle > * {
  vertical-align: middle !important;
  display: inline-block !important;
}
/**
 * Embed YouTube iframe (default 21/9)
.block-youtube>iframe
 */
.block-youtube {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding-top: 42.85714286%;
  height: 0;
  /* Sizes */
}
.block-youtube iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.block-youtube--16x9 {
  padding-top: 56.25%;
}
.block-youtube--4x3 {
  padding-top: 75%;
}
.block-youtube--1x1 {
  padding-top: 100%;
}
/*=========================================================================
|| FILE: Media Queries
===========================================================================
|| Often used media queries class
=========================================================================*/
/**
 * Burger
.is_burger-menu--visible
.is_burger-menu--hide
 */
@media only screen and (max-width: 767px) {
  .is_burger-menu--visible {
    display: block;
  }
  .is_burger-menu--hide {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .is_burger-menu--visible {
    display: none;
  }
  .is_burger-menu--hide {
    display: block;
  }
}
/*=========================================================================
|| FILE: Fix
===========================================================================
|| Classes used for avoid common CSS problems
=========================================================================*/
/**
 * Position fixed
 * Change to position fixed on iOS Safari while scrolling
 * @browser Safari
 */
.fix_fixed {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 1000;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  position: fixed;
}
