.page__overlay#page-overlay
.page__loading
    .animation-boucing-dots
        span
        span
        span

if version == 'prod'
    script(src="js/app.prod.js")
if version == 'dev'
    script(src="js/app.dev.js")
else
    