footer.footer#footer
	.wrap.wrap-footer
		.row.row-footer

			.col-4
				.js_expand.js_hide.xs_expand.expand--footer
					//- a.expand__link
					//-     | Footer expand 1
					.expand__content
						.footer__item
							h2.footer__title
								| Footer title 1
							p.footer__content
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci beatae praesentium ipsam atque impedit cumque iusto, officiis, ipsum quo, tenetur eius rerum. Reiciendis porro commodi, maiores neque iusto et libero.

			.col-4
				.js_expand.js_hide.xs_expand.expand--footer
					//- a.expand__link
					//-     | Footer expand 2
					.expand__content
						.footer__item
							h2.footer__title
								| Footer title 2
							p.footer__content
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci beatae praesentium ipsam atque impedit cumque iusto, officiis, ipsum quo, tenetur eius rerum. Reiciendis porro commodi, maiores neque iusto et libero.

			.col-4
				.js_expand.js_hide.xs_expand.expand--footer
					//- a.expand__link
					//-     | Footer expand 3
					.expand__content
						.footer__item
							h2.footer__title
								| Footer title 3
							p.footer__content
								| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci beatae praesentium ipsam atque impedit cumque iusto, officiis, ipsum quo, tenetur eius rerum. Reiciendis porro commodi, maiores neque iusto et libero.