.page__overlay#page-overlay

if version == 'prod'
    script(src="/js/app.prod.js")
if version == 'dev'
    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="/js/app.dev.js")
else