// /**
//  * Cols
//  */

.responsive({
    .@{shortcode}_col-absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
});
// .create-responsive-class( col-absolute, {
//     position: absolute;
//     top: 0;
//     left: 0;
// });
// .create-responsive-class( col-absolute-y-center, {
//     top: 50%;
//     transform: translateY(-50%);
// });
// .create-responsive-class( col-y-top, {
//     justify-content: flex-start;
// });
// .create-responsive-class( col-y-center, {
//     justify-content: center;
// });
// .create-responsive-class( col-y-bottom, {
//     justify-content: flex-end;
// });
// .create-responsive-class( col-x-left, {
//     align-items: flex-start;
// });
// .create-responsive-class( col-x-center, {
//     align-items: center;
// });
// .create-responsive-class( col-x-right, {
//     align-items: flex-end;
// });