/**
 * Display
 */

.responsive({

    .@{prefix}d {
        &-block {
            display: block !important;
        }
        &-inline {
            display: inline !important;
        }
        &-inline-block {
            display: inline-block !important;
        }
        &-table {
            display: table !important;
        }
        &-flex {
            display: flex !important;
        }
        &-table-cell {
            display: table-cell !important;
        }
        &-table-row {
            display: table-row !important;
        }
    }
    
});