/**
 * Flex
 */

.responsive({

	.@{prefix} {
		&flex-y-end {
			align-items: flex-end;
		}
    }
	.@{prefix} {
		&flex-y-center {
			align-items: center;
		}
	}

	.@{prefix} {
		&row-reverse {
			flex-direction: row-reverse;
		}
	}

	.@{prefix} {
		&flex-column {
			flex-direction: column;
		}
	}

	.@{prefix} {
		&col-static {
			flex: 0 0 auto !important;
		}
	}

	.@{prefix} {
		&col-same-size {
			flex: 1 0 auto !important;
		}
	}

	.@{prefix} {
		&row-justify {
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.@{prefix} {
		&flex-samesize {
			display: flex;
			flex: 1 1 auto;
		}
	}

});


// .create-responsive-class( flex-x-middle, {
//     align-content: center;
// });
// .create-responsive-class( flex-x-right, {
//     align-items: flex-end;
// });
// .create-responsive-class( flex-y-center, {
//     align-items: center;
// });
// .create-responsive-class( flex-x-center, {
//     justify-content: center;
// });

// .create-responsive-class( flex, {
//     display: flex;
//     flex-direction: row;
// });