/**
 * Paddings
 */

.pt {
	.generate-tool-count(padding-top, 85);
}
.pb {
	.generate-tool-count(padding-bottom, 85);
}
.pl {
	.generate-tool-count(padding-left, 85);
}
.pr {
	.generate-tool-count(padding-right, 85);
}
.px {
    .generate-tool-count-x(padding, 85);
}
.py {
    .generate-tool-count-y(padding, 85);
}

/* Reset */
.responsive({
	.@{prefix}no {

		&-pt, &-padding-top {
			padding-top: 0 !important;
		}
		
		&-pb, &-padding-bottom {
			padding-bottom: 0 !important;
		}

		&-pl, &-padding-left {
			padding-left: 0 !important;
		}

		&-pr, &-padding-right {
			padding-right: 0 !important;
		}

		&-px {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}

		&-py {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}

	}
});