/**
 * Display
 */

.responsive({

    /* Align */
    .@{prefix}center {
        text-align: center !important;
    }
    .@{prefix}left {
        text-align: left !important;
    }
    .@{prefix}right {
        text-align: right !important;
    }
    .@{prefix}justify {
        text-align: justify !important;
    }

    /* Font weight */
    .@{prefix}light {
        font-weight: 200 !important;
    }
    .@{prefix}normal {
        font-weight: 400 !important;
    }
    .@{prefix}medium {
        font-weight: 500 !important;
    }
    .@{prefix}semibold {
        font-weight: 600 !important;
    }
    .@{prefix}bold {
        font-weight: 700 !important;
    }

    /* Font style */
    .@{prefix}italic {
        font-style: italic !important;
    }

    /* Text transform */
    .@{prefix}capitalize {
        text-transform: capitalize !important;
    }
    .@{prefix}lowercase {
        text-transform: lowercase !important;
    }
    .@{prefix}uppercase {
        text-transform: uppercase !important;
    }
    .@{prefix}no-text-transform {
        text-transform: capitalize !important;
    }

    /* Text decoration */
    .@{prefix}underline {
        text-decoration: underline !important;
    }
    
    /* Adoon */ 
    .@{prefix}text-wrap {	
        white-space: nowrap !important; 
    }
    .@{prefix}no-whitespace {
        font-size: 0 !important;
    }

});