@import './../src/style/variables';
@import './../src/style/tools/*';
@import './../src/style/modules/*';
@import './kss-assets/kss.scss';
@import './../src/style/style/*';

$color-primary: red;
$color-secondary: blue;

// Blocks
.block-square {
  background-color: $color-primary;

  * > {
    color: $color-secondary;
  }
}

// Functions
@include add_holder-style;

.holder {
  background-color: $color-primary;
  color: $color-secondary;

  @include add_holder(100px, 50px);
}

.placeholder {
  color: $color-secondary;

  @include add_placeholder {
    color: $color-primary;
  }
}

.scrollbar {
  width: 100%;
  height: 200px;
  overflow: scroll;
  @include scrollbar('20px', $color-primary, $color-secondary);

  &__content {
    width: 200%;
    height: 200%;
  }
}
.triangle {
  &-up {
    @include triangle(30px, 20px, 'up', $color-primary);
  }

  &-right {
    @include triangle(30px, 20px, 'right', $color-primary);
  }

  &-down {
    @include triangle(30px, 20px, 'down', $color-primary);
  }

  &-left {
    @include triangle(20px, 10px, 'left', $color-secondary);
  }
}
